/* FANIA SPECIFIC STYLES*/

* { box-sizing: border-box }

html { color: #455a64; font-family: 'Source Sans Pro', sans-serif }
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
	text-transform: uppercase;
  font-family: 'Arvo', serif;
}


/* MAIN NAVIGATION */
nav { 
  color: #455A64; 
  background: #90A4AE; 
  padding: 8px 16px;
  text-align: center; 
}
nav a { 
  text-transform: uppercase; 
  border: 0;
  padding: 0 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}
nav a:hover { border: 0; text-decoration: none }
nav .fa {
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1.6em;
  background-color: #455a64;
  width: 1.6em;
  border-radius: 50%;
  bottom: 0;
}
nav .fa-inverse { color: #cfd8dc }
nav .navtext {
  padding-left: 0.25em;
  font-size: 1.2em;
  display: none;
}


/* HEADERS & LOGO */
header a:link, header a:visited { text-decoration: none }
.spiral { width: 90px; height: 90px; margin-top: 1em }
.spiral:hover { animation: spin 4s linear infinite reverse }
@keyframes spin { 100% { transform: rotate(360deg) } }
header { 
  color:#455a64; background:#ECEFF1; 
  padding: .1em 16px; text-align: center }
header.subheader { background:#cfd8dc; text-align: left }
header.subsubheader { text-align: left }


/* UTILITIES */
.mirror { display: inline-block; transform: scaleX(-1) }
.loading {
  display: none;
  position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	z-index: 9999;
	background: url(../images/loadspiral.gif) center no-repeat rgba(255, 255, 255, 0.5);
}
.mobile { display: block }
.desktop { display: none }


/* RANDOM QUOTE BANNERS */
.banner {
  font-family: Consolas, "courier new";
  color: #FFFFFF;
  background: #37474F;
  padding: 8px;
  text-align: center;
}

/* COVER IMAGES */
.cover { 
  display: flex; flex-direction: column;
  justify-content: space-around; align-items: center; 
  padding: 2em 0;
}
.cover img {
  width: 75%; margin: 1em .5em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


main > p { margin: 1em }
main > h4 { margin: .5em 16px }

/* SEARCH FORM */
form.mainsearch { padding: 0 1em }
form.mainsearch fieldset { border: none; text-align: center }
form.mainsearch label { padding: 0 1em 0 5px }
form.mainsearch input[type=radio] { 
  width: 24px; height: 24px; position: relative; top: 7px;
}
form.mainsearch input[type=text] { 
  width: 90%; border: solid 1px #90A4AE; border-radius: 5px;
}
form.mainsearch button { 
  background:#90A4AE; width: 26px; height: 26px; 
  border: 0; border-radius: 5px; margin: 0;
}
form.mainsearch button:hover { 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.inlineforms { margin: 1em }
.inlineforms form { display: inline-block }
.inlineforms input[type=radio] { display: none }
.inlineforms input[type=submit] { text-decoration: underline }
















.emailbutton:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f003";
  color: #fff;
}
.randbutton:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f074";
  color: #fff;
}
.w3-ul li {
  padding: 0 !important;
  border: 0 !important;
}


.inline { display: inline }

.tabs a:hover,
.subtabs a:hover {
  background: #eceff1;
}

.tabs a.active,
.subtabs a.active {
  background: ghostwhite;
}

.w3-group {
  position:relative;
  line-height: 1em;
  display: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}
.w3-input, .w3-textarea {
  padding: 0;
  padding-left: 5px;
  line-height: 1.6em;
  float: left;
  /*width: 50%;*/
  width: 90%;
  border: solid 1px #90a4ae;
  border-radius: 5px;
}
.w3-label {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #607d8b;
  transition: 0.2s ease all;
}

.w3-input:focus ~ .w3-label,.w3-input:valid ~ .w3-label,.w3-textarea:focus ~ .w3-label,.w3-textarea:valid ~ .w3-label{
top:-20px;font-size:14px;color:#888}

input[type=radio].w3-radio{width:24px;height:24px;position:relative;top:6px}
input[type=radio].w3-radio:checked+.w3-validate{color:#455a64}
input[type=radio].w3-radio+.w3-validate{padding-right:1em; padding-left:4px;}

.w3-code {
  background-color: #eceff1;
  border-left: 4px solid #607d8b;
}
.poetry {
  padding: 2em 1em;
}
#poetry_tab .poetry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tab1 .poetry {
  display: flex;
  justify-content: center;
}
.fa {
  color: #455a64;
}
.fa-camera:before,
.fa-video-camera:before {
  font-size: 0.9em;
}

.spicon {
  background-image: url("../images/mini_spiral_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 5px 5px;
  display: inline-block;
  height: 1.6em;
}

#audioinfo p{
  visibility: hidden;
  display: inline;
  margin-left: 10px;
}

#audioinfo:hover p{
  visibility: visible;
}

.fanbtn {
  margin-left: 2px;
  padding: 5.5px 10px;
  border-radius: 5px;
}

a {
  text-decoration: underline;
  color: #546588;
  /*546588*/
}
a:hover {
  color: #37474f;
  /*37474f*/
}
.inform input.inlink {
  text-decoration: underline;
}






.spouter { margin: 20px 0; padding: 0; width: 890px; height: 550px; }
.spleft { float: left; width: 340px; height: 550px; }
.spltop { width: 340px; height: 210px; }
.spltleft { float: left; width: 210px; height: 210px; }
.spltright { float: right; width: 130px; height: 210px; }
.spltrtop { width: 130px; height: 130px; }
.spltrbottom { width: 130px; height: 80px; }
.spltrbleft { float: left; width: 50px; height: 80px; }
.spltrbltop { width: 50px; height: 30px; }
.spltrbltleft { float: left; width: 30px; height: 30px; }
.spltrbltright { float: right; width: 20px; height: 30px; }
.spltrbltrtop { width: 20px; height: 20px; }
.spltrbltrtop img { margin: 0 }
.spltrbltrbottom { width: 20px; height: 10px; }
.spltrbltrbleft { float: left; width: 10px; height: 10px; }
.spltrbltrbright { float: right; width: 10px; height: 10px; }
.spltrblbottom { width: 50px; height: 50px; }
.spltrbright { float: right; width: 80px; height: 80px; }
.splbottom { width: 340px; height: 340px; }
.spright { float: right; width: 550px; height: 550px; }
.spltrbltrbleft img { position: absolute; }
.spltrbltrbright img { position: absolute; }
a.spimg, a.spimg:hover { border: 0;}




/* IMAGE RESULTS */

#img_spiral_div { 
  transform: scale(0.4);
  display: grid; grid-template: repeat(55, 10px) / repeat(89, 10px) }
#img_spiral_div img   { object-fit: cover; margin: 0 }
#img_spiral_div a     { text-decoration: none; }
#img_spiral_div a.one { 
  grid-column:25/26; grid-row:16/17; position:relative; top:-7px }
#img_spiral_div a.two { 
  grid-column:26/27; grid-row:16/17; position:relative; top:-7px }
#img_spiral_div a.three { grid-column: 25/27; grid-row: 14/16 }
#img_spiral_div a.four  { grid-column: 22/25; grid-row: 14/17 }
#img_spiral_div a.five  { grid-column: 22/27; grid-row: 17/22 }
#img_spiral_div a.six   { grid-column: 27/35; grid-row: 14/22 }
#img_spiral_div a.seven { grid-column: 22/34; grid-row:  1/14 }
#img_spiral_div a.eight { grid-column:  1/22; grid-row:  1/22 }
#img_spiral_div a.nine  { grid-column:  1/35; grid-row: 22/56 }
#img_spiral_div a.ten   { grid-column: 35/90; grid-row:  1/56 }

#img_list_div { display: flex; flex-wrap: wrap; justify-content: flex-start }
#img_list_div a { padding: 1em }
#img_list_div a img { width: 300px; height: 200px; object-fit: cover }






/*Scroll Glide Bar Stuff*/
div.wn {
	position: relative; /* scroll area div must be positioned */
	overflow: hidden; /* required! */
  height: 1.5em;
}
div.wn,
div.lyr span {
  width: 635px;
}
div.lyr {
  white-space: nowrap; /* content will wrap without this */
}
div.lyr span {
  text-align: center;
  display: inline-block;
}
div.scrollLinks,
div.scrollLinks .left,
div.scrollLinks .right {
  height: 0.2em;
}
div.scrollLinks {
  width: 635px;
  position: relative;
}
div.scrollLinks .left,
div.scrollLinks .right {
  position: absolute;
  top: -1.5em;
}
div.scrollLinks .right {
  right: 0;
}
div.scrollLinks .right:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f054";
  color: #C0C0C0;
}
div.scrollLinks .left {
  left: 0;
}
div.scrollLinks .left:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f053";
  color: #C0C0C0;
}
#poems:nth-of-type(4) {
  padding-bottom: 1em;
}
#poems:nth-of-type(8) {
  padding-bottom: 1em;
}
#poems:nth-of-type(11) {
  padding-bottom: 1em;
}
#subpoem3 {
  padding-bottom: 1em;
}
#subpoem7 {
  padding-bottom: 1em;
}
#subpoem10 {
  padding-bottom: 1em;
}

form.inform {
	margin: 0;
	padding: 0;
	display: inline;
}
input.inlink {
	background: transparent;
	color: #7989A9;
	text-decoration: none;
	border-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
input.inlink:hover, input.inlink:active, input.inlink:focus {
	color: #576c93;
}









.w3-checkbox input[type=checkbox]:checked + .w3-checkmark:before {background:#546588}
.w3-checkbox input[type=radio]:checked + .w3-checkmark:after {opacity:1;background-color:#546588}
.w3-checkmark:before {content:'';position:absolute;width:24px;height:24px;border:2px solid #546588}

/*Blue = #546588*/
.w3-theme {color:#fff !important;background-color:#607d8b !important}
.w3-theme-light {color:#455a64 !important;background-color:#eceff1 !important}
.w3-theme-dark {color:#fff !important;background-color:#263238 !important}
.w3-text-theme {color:#455a64 !important}
.w3-theme-l5 {color:#455a64 !important;background-color:#eceff1 !important}
.w3-theme-l4 {color:#455a64 !important;background-color:#cfd8dc !important}
.w3-theme-l3 {color:#455a64 !important;background-color:#b0bec5 !important}
.w3-theme-l2 {color:#455a64 !important;background-color:#90a4ae !important}
.w3-theme-l1 {color:#fff !important;background-color:#78909c !important}
.w3-theme-d1 {color:#fff !important;background-color:#546e7a !important}
.w3-theme-d2 {color:#fff !important;background-color:#455a64 !important}
.w3-theme-d3 {color:#fff !important;background-color:#37474f !important}
.w3-theme-d4 {color:#fff !important;background-color:#263238 !important}
.w3-theme-action {color:#fff !important;background-color:#263238 !important}












footer {
  background: #eceff1;
  padding: .1em;
  text-align: center;
}







@media all and (min-width:600px) {

  nav .navtext { display: inline-block }
  .mobile { display: none }
  .desktop { display: block }
  .cover { padding: 2em 1em; flex-direction: row }
  .cover img { width: 22% }

  #img_spiral_div { transform: scale(0.6) }

}

@media all and (min-width:750px) {

  #img_spiral_div { transform: scale(0.8) }

}

@media all and (min-width:900px) {

  #img_spiral_div { transform: scale(1) }

}

