/* FANIA SPECIFIC STYLES*/

html {
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
	text-transform: uppercase;
  font-family: 'Arvo', serif;
}
.emailbutton:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f003";
  color: #fff;
}
.randbutton:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f074";
  color: #fff;
}
.w3-ul li {
  padding: 0 !important;
  border: 0 !important;
}
.navtext {
  padding-left: 0.25em;
  font-size: 1.2em;
}
.w3-topnav a {
  text-transform: uppercase;
  border: 0;
}
.w3-topnav a:hover {
  border: 0;
}
.w3-topnav i {
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1.6em;
  background-color: #455a64;
  width: 1.6em;
  border-radius: 50%;
  bottom: 0;
}

.inline {
  display: inline;
}

.tabs a:hover,
.subtabs a:hover {
  background: #eceff1;
}

.tabs a.active,
.subtabs a.active {
  background: ghostwhite;
}

.w3-group {
  position:relative;
  line-height: 1em;
  display: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}
.w3-input, .w3-textarea {
  padding: 0;
  padding-left: 5px;
  line-height: 1.6em;
  float: left;
  /*width: 50%;*/
  width: 90%;
  border: solid 1px #90a4ae;
}
.w3-label {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #607d8b;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all
}

.w3-input:focus ~ .w3-label,.w3-input:valid ~ .w3-label,.w3-textarea:focus ~ .w3-label,.w3-textarea:valid ~ .w3-label{
top:-20px;font-size:14px;color:#888}

input[type=radio].w3-radio{width:24px;height:24px;position:relative;top:6px}
input[type=radio].w3-radio:checked+.w3-validate{color:#455a64}
input[type=radio].w3-radio+.w3-validate{padding-right:1em; padding-left:4px;}

.w3-code {
  background-color: #eceff1;
  border-left: 4px solid #607d8b;
}
.poetry {
  padding: 2em 1em;
}
.fa {
  color: #455a64;
}
.fa-camera:before,
.fa-video-camera:before {
  font-size: 0.9em;
}

.spicon {
  background-image: url("../images/mini_spiral_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 5px 5px;
  display: inline-block;
  height: 1.6em;
}

#audioinfo p{
  visibility: hidden;
  display: inline;
  margin-left: 10px;
}

#audioinfo:hover p{
  visibility: visible;
}

.fanbtn {
  margin-left: 2px;
  padding: 5.5px 10px;
}

a {
  text-decoration: underline;
  color: #546588;
  /*546588*/
}
a:hover {
  color: #37474f;
  /*37474f*/
}
.inform input.inlink {
  text-decoration: underline;
}
header a:link, header a:visited {
  text-decoration: none;
}
.banner {
  font-family: Consolas, "courier new";
  padding: 8px;
}
.fa-inverse {
color: #cfd8dc !important;
}
.spiral {
	width: 90px;
	height: 90px;
  margin-top: 1em;
}
.spiral:hover {
    -webkit-animation:spin 4s linear infinite reverse;
    -moz-animation:spin 4s linear infinite reverse;
    animation:spin 4s linear infinite reverse;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.mirror {
	display: inline-block !important;
  -moz-transform: scaleX(-1) !important;
  -o-transform: scaleX(-1) !important;
  -webkit-transform: scaleX(-1) !important;
  transform: scaleX(-1) !important;
  filter: FlipH !important;
}

.spouter { margin: 20px 0; padding: 0; width: 890px; height: 550px; }
.spleft { float: left; width: 340px; height: 550px; }
.spltop { width: 340px; height: 210px; }
.spltleft { float: left; width: 210px; height: 210px; }
.spltright { float: right; width: 130px; height: 210px; }
.spltrtop { width: 130px; height: 130px; }
.spltrbottom { width: 130px; height: 80px; }
.spltrbleft { float: left; width: 50px; height: 80px; }
.spltrbltop { width: 50px; height: 30px; }
.spltrbltleft { float: left; width: 30px; height: 30px; }
.spltrbltright { float: right; width: 20px; height: 30px; }
.spltrbltrtop { width: 20px; height: 20px; }
.spltrbltrbottom { width: 20px; height: 10px; }
.spltrbltrbleft { float: left; width: 10px; height: 10px; }
.spltrbltrbright { float: right; width: 10px; height: 10px; }
.spltrblbottom { width: 50px; height: 50px; }
.spltrbright { float: right; width: 80px; height: 80px; }
.splbottom { width: 340px; height: 340px; }
.spright { float: right; width: 550px; height: 550px; }
.spltrbltrbleft img { position: absolute; }
.spltrbltrbright img { position: absolute; }
a.spimg, a.spimg:hover { border: 0;}

/*Scroll Glide Bar Stuff*/
div.wn {
	position: relative; /* scroll area div must be positioned */
	overflow: hidden; /* required! */
  height: 1.5em;
}
div.wn,
div.lyr span {
  width: 635px;
}
div.lyr {
  white-space: nowrap; /* content will wrap without this */
}
div.lyr span {
  text-align: center;
  display: inline-block;
}
div.scrollLinks,
div.scrollLinks .left,
div.scrollLinks .right {
  height: 0.2em;
}
div.scrollLinks {
  width: 635px;
  position: relative;
}
div.scrollLinks .left,
div.scrollLinks .right {
  position: absolute;
  top: -1.5em;
}
div.scrollLinks .right {
  right: 0;
}
div.scrollLinks .right:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f054";
  color: #C0C0C0;
}
div.scrollLinks .left {
  left: 0;
}
div.scrollLinks .left:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f053";
  color: #C0C0C0;
}
#poems:nth-of-type(4) {
  padding-bottom: 1em;
}
#poems:nth-of-type(8) {
  padding-bottom: 1em;
}
#poems:nth-of-type(11) {
  padding-bottom: 1em;
}
#subpoem3 {
  padding-bottom: 1em;
}
#subpoem7 {
  padding-bottom: 1em;
}
#subpoem10 {
  padding-bottom: 1em;
}

form.inform {
	margin: 0;
	padding: 0;
	display: inline;
}
input.inlink {
	background: transparent;
	color: #7989A9;
	text-decoration: none;
	border-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
input.inlink:hover, input.inlink:active, input.inlink:focus {
	color: #576c93;
}




/*MEDIA QUERIES*/
@media screen and (max-width:601px) {
  .w3-topnav a {
    display: inline-block;
  }
  .navtext {
    display: none;
  }
}
@media screen and (max-width:600px) {
  .w3-topnav {
    text-align: center
  }
}

/*LOAD ICON*/
.loading {
  position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
  display: none;
	background: url(../images/loadspiral.gif) center no-repeat rgba(255, 255, 255, 0.5);
}

.fb-share-button {
    position: relative;
    top: -15px;
    margin-right: 10px;
}
.twitter-div {
    position: relative !important;
    width: 100px;
    margin-left: 10px;
    top: -10px;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 4em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}
.share-btn:hover {
  color: #eeeeee;
}
.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}
/*.share-btn.email { background: #444444; }*/

.w3-checkbox input[type=checkbox]:checked + .w3-checkmark:before {background:#546588}
.w3-checkbox input[type=radio]:checked + .w3-checkmark:after {opacity:1;background-color:#546588}
.w3-checkmark:before {content:'';position:absolute;width:24px;height:24px;border:2px solid #546588}

/*Blue = #546588*/
.w3-theme {color:#fff !important;background-color:#607d8b !important}
.w3-theme-light {color:#455a64 !important;background-color:#eceff1 !important}
.w3-theme-dark {color:#fff !important;background-color:#263238 !important}
.w3-text-theme {color:#455a64 !important}
.w3-theme-l5 {color:#455a64 !important;background-color:#eceff1 !important}
.w3-theme-l4 {color:#455a64 !important;background-color:#cfd8dc !important}
.w3-theme-l3 {color:#455a64 !important;background-color:#b0bec5 !important}
.w3-theme-l2 {color:#455a64 !important;background-color:#90a4ae !important}
.w3-theme-l1 {color:#fff !important;background-color:#78909c !important}
.w3-theme-d1 {color:#fff !important;background-color:#546e7a !important}
.w3-theme-d2 {color:#fff !important;background-color:#455a64 !important}
.w3-theme-d3 {color:#fff !important;background-color:#37474f !important}
.w3-theme-d4 {color:#fff !important;background-color:#263238 !important}
.w3-theme-action {color:#fff !important;background-color:#263238 !important}
