/* FANIA SPECIFIC STYLES*/

* { box-sizing: border-box }
html { color: #455A64; scroll-behavior: smooth }
body { margin: 0; font-family: Verdana, sans-serif; font-size: 16px }


/* HEADERS & LOGO */
header a:link, header a:visited { text-decoration: none }
.spiral { width: 90px; height: 90px; margin-top: 1em }
.spiral:hover { animation: spin 4s linear infinite reverse }
@keyframes spin { 100% { transform: rotate(360deg) } }
header { 
  color:#455a64; background:#ECEFF1; 
  padding: .1em 16px; text-align: center }
h1, h2, h3, h4, h5, h6 {
  font-weight: 600; text-transform: uppercase; font-family: 'Arvo', serif }
h1 { font-size: 36px; margin: 16px }
h2 { color: #455A64; background: #cfd8dc; padding: 16px; margin: 0 }
h2#contact + div { padding: 0 16px }
h2 span { color: #F1F1F1 }
h3 { color:#455A64; background:#ECEFF1; padding: 16px }
h4 { margin: 16px 0 }
h4#definitions { padding-left: 16px; padding-top: 16px }


/* UTILITIES */
hr { border-top: 1px solid #EEEEEE; margin: 20px 0 }
.mirror { display: inline-block; transform: scaleX(-1) }
.loading {
  display: none; position: fixed; left: 0; top: 0;
	width: 100%; height: 100%; z-index: 9999;
	background: url(../images/loadspiral.gif) center no-repeat #FFFFFF80 }
.mobile { display: block }
.desktop { display: none }
.twoHalfs { display: flex }
.twoHalfs * { width: 49% }
.twoColumns { column-count: 2; margin: 16px }
.indent { padding: 16px }
.hide { display: none }
.button, .poetryButtons button { 
  background:#607d8b; font-size: 16px;
  border: none; border-radius: 5px; margin: 0 }
.button:hover, .poetryButtons button:hover { cursor: pointer; 
  box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000030 }


/* MAIN NAVIGATION */
nav { 
  color: #455A64; background: #90A4AE; padding: 8px 16px;
  display: flex; justify-content: center; align-items: center }
nav a { 
  text-transform: uppercase; text-decoration: none; 
  border: 0; padding: 0 8px; transition: all 0.3s ease }
nav a:hover { border: 0; text-decoration: none }
nav .fa {
  vertical-align: middle; text-align: center;
  font-size: 1.4em; line-height: 1.5em; 
  color: #CFD8DC; background-color: #455a64;
  width: 1.5em; border-radius: 50%; bottom: 0 }
nav .navtext { padding-left: 10px; display: none;
  font-size: 1.2em; line-height: 1.8em }

nav.subnav { 
  color: #455A64; background:#FFFFFF;
  padding: 1em; margin-top: 1em; text-align: center }
nav.subnav a { 
  text-transform: uppercase; text-decoration: none;
  padding: 0 8px; transition: all 0.3s ease }
nav.subnav a:hover { color: #37474F; text-decoration: underline }
nav.subnav a.active { background: #ECEFF1; text-decoration: underline }


/* RANDOM QUOTE BANNERS */
.banner {
  font-family: Consolas, "courier new"; color: #FFFFFF; background: #37474F;
  padding: 8px; text-align: center;
  box-shadow: 0 2px 4px 0 #00000029, 0 2px 10px 0 #0000001f }


/* COVER IMAGES */
.cover { 
  display: flex; flex-direction: column;
  justify-content: space-around; align-items: center; 
  padding: 2em 0 }
.cover img {
  width: 75%; margin: 1em .5em;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030 }


main > p { margin: 1em }
main > h4 { margin: .5em 16px }


/* SEARCH FORM */
form.mainsearch { padding: 0 1em; margin-top: 2em }
form.mainsearch fieldset { border: none; text-align: center }
form.mainsearch label { padding: 0 1em 0 5px }
form.mainsearch input[type=radio] { 
  width: 24px; height: 24px; position: relative; top: 7px }
form.mainsearch input[type=text] { 
  width: 90%; border: solid 1px #90A4AE; border-radius: 5px; height: 26px }
form.mainsearch button .fa { color: #ECEFF1 }
form.mainsearch button { 
  background:#607D8B; width: 26px; height: 26px;
  border: 0; border-radius: 5px; margin: 0 }
.inlineform { margin: 1em }
.inlineform form { display: inline-block }
.inlineform input[type=radio] { display: none }
.inlineform input[type=submit] { 
  font-size: 16px; cursor: pointer; text-decoration: underline; 
	color: #7989A9; background: none;
	border: 0; font-weight: 400; margin: 0; padding: 0 }
.inlineform input[type=submit]:hover { color: #90A4AE } 


/* ERRORS PAGE */
.errors {
  padding: 2em 1em;
  display: flex; flex-wrap: wrap;
  align-items: center; justify-content: space-around }
.errors div { width: 100% }
.errors .errorCode { width: 100%; overflow: scroll }
.errors .errorButtons a:not(:nth-of-type(5)) { 
  text-decoration: none; padding: 3px 6px;
  border: 2px outset #CCCCCC; border-radius: 5px }
.errors .errorButtons a:nth-of-type(5):hover .fa { color: #37474F }
/* h2#msg { margin: 0 } */


/* ABOUT */
code.pseudo {
  display: block; padding: 8px; margin: 8px 0;
  background-color: #ECEFF1; border-left: 4px solid #607D8B;
  word-wrap: normal; page-break-inside: avoid }


/* TEXT SEARCH */
.poetryButtons { text-align: center; padding-bottom: 2em; margin: 0 }
.poetryButtons button { 
  color: #FFFFFF; transition: all 0.3s ease;
  padding: 10px 16px; margin-right: 1em }
.poetryButtons .fa { color: #FFFFFF; padding-right: 5px }
.poetry { background: #ECEFF1 }
.poetry .inlineform { margin: 0; display: inline }



 













.inline { display: inline }

.tabs a:hover,
.subtabs a:hover {
  background: #eceff1;
}

.tabs a.active,
.subtabs a.active {
  background: ghostwhite;
}



.poetry {
  padding: 2em 1em;
}
#poetry_tab .poetry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tab1 .poetry {
  display: flex;
  justify-content: center;
}
.fa {
  color: #455a64;
}
.fa-camera:before,
.fa-video-camera:before {
  font-size: 0.9em;
}

.spicon {
  background-image: url("../images/mini_spiral_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 5px 5px;
  display: inline-block;
  height: 1.6em;
}

#audioinfo p{
  visibility: hidden;
  display: inline;
  margin-left: 10px;
}

#audioinfo:hover p{
  visibility: visible;
}

.fanbtn {
  margin-left: 2px;
  padding: 5.5px 10px;
  border-radius: 5px;
}

a {
  text-decoration: underline;
  color: #546588;
  /*546588*/
}
a:hover {
  color: #37474f;
  /*37474f*/
}






.spouter { margin: 20px 0; padding: 0; width: 890px; height: 550px; }
.spleft { float: left; width: 340px; height: 550px; }
.spltop { width: 340px; height: 210px; }
.spltleft { float: left; width: 210px; height: 210px; }
.spltright { float: right; width: 130px; height: 210px; }
.spltrtop { width: 130px; height: 130px; }
.spltrbottom { width: 130px; height: 80px; }
.spltrbleft { float: left; width: 50px; height: 80px; }
.spltrbltop { width: 50px; height: 30px; }
.spltrbltleft { float: left; width: 30px; height: 30px; }
.spltrbltright { float: right; width: 20px; height: 30px; }
.spltrbltrtop { width: 20px; height: 20px; }
.spltrbltrtop img { margin: 0 }
.spltrbltrbottom { width: 20px; height: 10px; }
.spltrbltrbleft { float: left; width: 10px; height: 10px; }
.spltrbltrbright { float: right; width: 10px; height: 10px; }
.spltrblbottom { width: 50px; height: 50px; }
.spltrbright { float: right; width: 80px; height: 80px; }
.splbottom { width: 340px; height: 340px; }
.spright { float: right; width: 550px; height: 550px; }
.spltrbltrbleft img { position: absolute; }
.spltrbltrbright img { position: absolute; }
a.spimg, a.spimg:hover { border: 0;}




/* IMAGE RESULTS */

#img_spiral_div { 
  transform: scale(0.4);
  display: grid; grid-template: repeat(55, 10px) / repeat(89, 10px) }
#img_spiral_div img   { object-fit: cover; margin: 0 }
#img_spiral_div a     { text-decoration: none; }
#img_spiral_div a.one { 
  grid-column:25/26; grid-row:16/17; position:relative; top:-7px }
#img_spiral_div a.two { 
  grid-column:26/27; grid-row:16/17; position:relative; top:-7px }
#img_spiral_div a.three { grid-column: 25/27; grid-row: 14/16 }
#img_spiral_div a.four  { grid-column: 22/25; grid-row: 14/17 }
#img_spiral_div a.five  { grid-column: 22/27; grid-row: 17/22 }
#img_spiral_div a.six   { grid-column: 27/35; grid-row: 14/22 }
#img_spiral_div a.seven { grid-column: 22/34; grid-row:  1/14 }
#img_spiral_div a.eight { grid-column:  1/22; grid-row:  1/22 }
#img_spiral_div a.nine  { grid-column:  1/35; grid-row: 22/56 }
#img_spiral_div a.ten   { grid-column: 35/90; grid-row:  1/56 }

#img_list_div { display: flex; flex-wrap: wrap; justify-content: flex-start }
#img_list_div a { padding: 1em }
#img_list_div a img { width: 300px; height: 200px; object-fit: cover }






/*Scroll Glide Bar Stuff*/
div.wn { position: relative; overflow: hidden; height: 1.5em }
div.wn,
div.lyr span { width: 635px }
div.lyr { white-space: nowrap }
div.lyr span { text-align: center; display: inline-block }
div.scrollLinks,
div.scrollLinks .left,
div.scrollLinks .right { height: 0.2em }
div.scrollLinks { width: 635px; position: relative }
div.scrollLinks .left,
div.scrollLinks .right { position: absolute; top: -1.5em; cursor: pointer }
div.scrollLinks .right { right: 0 }
div.scrollLinks .left { left: 0 }
div.scrollLinks .right:before {
  font-family: FontAwesome; content: "\f054";
  font-style: normal; font-weight: normal; color: #C0C0C0 }
div.scrollLinks .left:before {
  font-family: FontAwesome; content: "\f053";
  font-style: normal; font-weight: normal; color: #C0C0C0 }
#poems:nth-of-type(4) { padding-bottom: 1em }
#poems:nth-of-type(8) { padding-bottom: 1em }
#poems:nth-of-type(11) { padding-bottom: 1em }
#subpoem3 { padding-bottom: 1em }
#subpoem7 { padding-bottom: 1em }
#subpoem10 { padding-bottom: 1em }








.w3-checkbox input[type=checkbox]:checked + .w3-checkmark:before {background:#546588}
.w3-checkbox input[type=radio]:checked + .w3-checkmark:after {opacity:1;background-color:#546588}
.w3-checkmark:before {content:'';position:absolute;width:24px;height:24px;border:2px solid #546588}

/*Blue = #546588*/
.w3-theme {color:#fff !important;background-color:#607d8b !important}
.w3-theme-light {color:#455a64 !important;background-color:#eceff1 !important}
.w3-theme-dark {color:#fff !important;background-color:#263238 !important}
.w3-text-theme {color:#455a64 !important}
.w3-theme-l5 {color:#455a64 !important;background-color:#eceff1 !important}
.w3-theme-l4 {color:#455a64 !important;background-color:#cfd8dc !important}
.w3-theme-l3 {color:#455a64 !important;background-color:#b0bec5 !important}
.w3-theme-l2 {color:#455a64 !important;background-color:#90a4ae !important}
.w3-theme-l1 {color:#fff !important;background-color:#78909c !important}
.w3-theme-d1 {color:#fff !important;background-color:#546e7a !important}
.w3-theme-d2 {color:#fff !important;background-color:#455a64 !important}
.w3-theme-d3 {color:#fff !important;background-color:#37474f !important}
.w3-theme-d4 {color:#fff !important;background-color:#263238 !important}
.w3-theme-action {color:#fff !important;background-color:#263238 !important}












footer {
  background: #eceff1;
  padding: .1em;
  text-align: center;
}







@media all and (min-width:600px) {

  .errors div { width: 25% }
  .errors .errorCode { width: 40%; min-width: 500px; overflow: visible }
  nav .navtext { display: inline-block }
  .mobile { display: none }
  .desktop { display: block }
  .cover { padding: 2em 1em; flex-direction: row }
  .cover img { width: 22% }

  #img_spiral_div { transform: scale(0.6) }


}

@media all and (min-width:750px) {

  #img_spiral_div { transform: scale(0.8) }

}

@media all and (min-width:900px) {

  #img_spiral_div { transform: scale(1) }

}

