/* FANIA SPECIFIC STYLES*/
:root {
  --width: 75vw;
  --unit: calc(var(--width)/55);
}


* { box-sizing: border-box }
html { color: #455A64; scroll-behavior: smooth }
body { margin: 0; font-family: Verdana, sans-serif; font-size: 16px }
a { color: #546588 }
a:hover { color: #37474f }


/* HEADERS & LOGO */
header a:link, header a:visited { text-decoration: none }
.spiral { width: 90px; height: 90px; margin-top: 1em }
.spiral:hover { animation: spin 4s linear infinite reverse }
@keyframes spin { 100% { transform: rotate(360deg) } }
header { 
  color:#455a64; background:#ECEFF1; 
  padding: .1em 16px; text-align: center }
h1, h2, h3, h4, h5, h6 {
  font-weight: 600; text-transform: uppercase; font-family: 'Arvo', serif }
h1 { font-size: 36px; margin: 16px }
h2 { font-size: 30px; color:#455A64; background:#cfd8dc; 
  padding: 16px; margin: 0 }
h2#contact + div { padding: 0 16px }
h2:not(#msg) span:not(.mirror) { color: #F1F1F1 }
h3 { font-size: 24px; color:#455A64; background:#ECEFF1; padding: 16px }
h4 { margin: 16px 0 }
h4#definitions { padding-left: 16px; padding-top: 16px }
.fa-camera:before, .fa-video-camera:before { font-size: 0.9em }


/* UTILITIES */
hr { border-top: 1px solid #EEEEEE }
.mirror { display: inline-block; transform: scaleX(-1) }
.loading {
  display: none; position: fixed; left: 0; top: 0;
	width: 100%; height: 100%; z-index: 9999;
	background: url(../images/loadspiral.gif) center no-repeat #FFFFFF80 }
.mobile { display: block }
.desktop { display: none }
.twoHalfs { display: flex }
.twoHalfs * { width: 49% }
.twoColumns { column-count: 2; margin: 16px }
.indent { padding: 16px }
.hide { display: none }
.button, .poetryButtons a, .poetryButtons button { 
  background:#607d8b; font-size: 16px; text-decoration: none;
  border: none; border-radius: 5px; margin: 0 }
.button:hover, .poetryButtons a:hover, .poetryButtons button:hover { 
  cursor: pointer; color:#FFFFFF; text-decoration: none;
  box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000030 }


/* MAIN NAVIGATION */
nav { 
  color:#455A64; background:#90A4AE; padding: 8px 16px; text-align: center }
nav a { 
  text-transform: uppercase; text-decoration: none; 
  border: 0; padding: 0 8px; transition: all 0.3s ease }
nav a:hover { border: 0; text-decoration: none }
nav .fa {
  vertical-align: middle; text-align: center;
  font-size: 1.4em; line-height: 1.5em; 
  color:#CFD8DC; background:#455a64;
  width: 1.5em; border-radius: 50%; bottom: 0 }
nav .navtext { padding-left: 10px; display: none;
  font-size: 1.2em; line-height: 1.8em }
nav.subnav { 
  color:#455A64; background:#FFFFFF; padding: 1em;  }
nav.subnav a { 
  text-transform: uppercase; text-decoration: none;
  padding: 8px; transition: all 0.3s ease }
nav.subnav a:hover { color:#37474F; text-decoration: underline }
nav.subnav a.active { background:#ECEFF1; border-radius: 5px }
nav.subnav hr:first-child { margin-bottom: 2em }
nav.subnav hr:last-child { margin-top: 2em }


/* RANDOM QUOTE BANNERS */
.banner {
  font-family: Consolas, "courier new"; color:#FFFFFF; background:#37474F;
  padding: 8px; text-align: center;
  box-shadow: 0 2px 4px 0 #00000029, 0 2px 10px 0 #0000001f }


/* COVER IMAGES */
.cover { 
  display: flex; flex-direction: column;
  justify-content: space-around; align-items: center; 
  padding: 2em 0 }
.cover img {
  width: 75%; margin: 1em .5em;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030 }


main > p { margin: 1em }
main > h4 { margin: .5em 16px }


/* SEARCH FORM */
form.mainsearch { padding: 0 1em; margin-top: 1em }
form.mainsearch fieldset { border: none; text-align: center }
form.mainsearch label { padding: 0 1em 0 5px }
form.mainsearch input[type=radio] { 
  width: 24px; height: 24px; position: relative; top: 7px }
form.mainsearch input[type=text] { padding-left: .5em;
  width: 90%; border: solid 1px #90A4AE; border-radius: 5px; height: 26px }
form.mainsearch button .fa { color: #ECEFF1 }
form.mainsearch button { 
  background:#607D8B; width: 26px; height: 26px;
  border: 0; border-radius: 5px; margin: 0 }
.inlineform { display: inline-block }
.inlineform input[type=radio] { display: none }
.inlineform input[type=submit] { 
  font-size: 16px; cursor: pointer; text-decoration: underline; 
	color: #7989A9; background: none;
	border: 0; font-weight: 400; margin: 0; padding: 0 }
.inlineform input[type=submit]:hover { color: #90A4AE } 


/* ERRORS PAGE */
.errors {
  padding: 2em 1em;
  display: flex; flex-wrap: wrap;
  align-items: center; justify-content: space-around }
.errors div { width: 100% }
.errors .errorCode { width: 100%; overflow: scroll }
.errors .errorButtons { line-height: 2 } 
.errors .errorButtons a:not(:nth-of-type(5)) { 
  text-decoration: none; padding: 3px 6px;
  border: 2px outset #CCCCCC; border-radius: 5px }
.errors .errorButtons a:nth-of-type(5):hover .fa { color: #37474F }
/* h2#msg { margin: 0 } */


/* ABOUT */
code.pseudo {
  display: block; padding: 8px; margin: 8px 0;
  background-color: #ECEFF1; border-left: 4px solid #607D8B;
  word-wrap: normal; page-break-inside: avoid }


/* TEXT SEARCH */
.poetry { background: #ECEFF1; display: flex; flex-direction: column;
  justify-content: center; align-items: center; line-height: 1.5em; padding: 2em }
.poetryButtons { text-align: center; padding-bottom: 2em; margin: 0 }
.poetryButtons a, 
.poetryButtons button { 
  color: #FFFFFF; transition: all 0.3s ease;
  padding: 10px 16px; margin-right: 1em }
.poetryButtons .fa { color: #FFFFFF; padding-right: 5px }
.algos, .sources { background:#ECEFF1; padding: 16px }
.algos ul, .sources ul { list-style-type: none; padding-left: 16px }
.algos li, .sources li { line-height: 1.5em }


/* IMAGE SEARCH */
#img_spiral_div { width: var(--width); line-height: 1; display: grid;
  grid-template: repeat(89, var(--unit)) / repeat(55, var(--unit)) }
#img_spiral_div img { display: block; object-fit: cover;
  width: 100%; height: 100%; 
  border-style: solid; border-color: #37474F }
#img_spiral_div a.one   { grid-column:  1/56; grid-row:  1/56 }
#img_spiral_div a.two   { grid-column: 22/56; grid-row: 56/90 }
#img_spiral_div a.three { grid-column:  1/22; grid-row: 69/90 }
#img_spiral_div a.four  { grid-column:  1/14; grid-row: 56/69 }
#img_spiral_div a.five  { grid-column: 14/22; grid-row: 56/64 }
#img_spiral_div a.six   { grid-column: 17/22; grid-row: 64/69 }
#img_spiral_div a.seven { grid-column: 14/17; grid-row: 66/69 }
#img_spiral_div a.eight { grid-column: 14/16; grid-row: 64/66 }
#img_spiral_div a.nine  { grid-column: 16/17; grid-row: 64/65 }
#img_spiral_div a.ten   { grid-column: 16/17; grid-row: 65/66 }
#img_spiral_div a.one img   { border-radius: 0 100% 0 0; border-width: 2px 2px 0 0 }
#img_spiral_div a.two img   { border-radius: 0 0 100% 0; border-width: 0 2px 2px 0 }
#img_spiral_div a.three img { border-radius: 0 0 0 100%; border-width: 0 0 2px 2px }
#img_spiral_div a.four img  { border-radius: 100% 0 0 0; border-width: 2px 0 0 2px }
#img_spiral_div a.five img  { border-radius: 0 100% 0 0; border-width: 2px 2px 0 0 }
#img_spiral_div a.six img   { border-radius: 0 0 100% 0; border-width: 0 2px 2px 0 }
#img_spiral_div a.seven img { border-radius: 0 0 0 100%; border-width: 0 0 2px 2px }
#img_spiral_div a.eight img { border-radius: 100% 0 0 0; border-width: 2px 0 0 2px }
#img_spiral_div a.nine img  { border-radius: 0 100% 0 0; border-width: 2px 2px 0 0 }
#img_spiral_div a.ten img   { border-radius: 0 0 100% 0; border-width: 0 2px 2px 0 }












/* OKAY TO HERE */



.spicon {
  background-image: url("../images/mini_spiral_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 5px 5px;
  display: inline-block;
  height: 1.6em;
}

/* #audioinfo p { visibility: hidden; display: inline; margin-left: 10px } */
/* #audioinfo:hover p { visibility: visible } */





/* NEEEDED FOR VIDEO SPIRAL */
.spouter { margin: 20px 0; padding: 0; width: 890px; height: 550px; }
.spleft { float: left; width: 340px; height: 550px; }
.spltop { width: 340px; height: 210px; }
.spltleft { float: left; width: 210px; height: 210px; }
.spltright { float: right; width: 130px; height: 210px; }
.spltrtop { width: 130px; height: 130px; }
.spltrbottom { width: 130px; height: 80px; }
.spltrbleft { float: left; width: 50px; height: 80px; }
.spltrbltop { width: 50px; height: 30px; }
.spltrbltleft { float: left; width: 30px; height: 30px; }
.spltrbltright { float: right; width: 20px; height: 30px; }
.spltrbltrtop { width: 20px; height: 20px; }
.spltrbltrtop img { margin: 0 }
.spltrbltrbottom { width: 20px; height: 10px; }
.spltrbltrbleft { float: left; width: 10px; height: 10px; }
.spltrbltrbright { float: right; width: 10px; height: 10px; }
.spltrblbottom { width: 50px; height: 50px; }
.spltrbright { float: right; width: 80px; height: 80px; }
.splbottom { width: 340px; height: 340px; }
.spright { float: right; width: 550px; height: 550px; }
.spltrbltrbleft img { position: absolute; }
.spltrbltrbright img { position: absolute; }
a.spimg, a.spimg:hover { border: 0;}







/*Scroll Glide Bar Stuff*/
div.wn { position: relative; overflow: hidden; height: 1.5em }
div.wn,
div.lyr span { width: 635px }
div.lyr { white-space: nowrap }
div.lyr span { text-align: center; display: inline-block }
div.scrollLinks,
div.scrollLinks .left,
div.scrollLinks .right { height: 0.2em }
div.scrollLinks { width: 635px; position: relative }
div.scrollLinks .left,
div.scrollLinks .right { position: absolute; top: -1.5em; cursor: pointer }
div.scrollLinks .right { right: 0 }
div.scrollLinks .left { left: 0 }
div.scrollLinks .right:before {
  font-family: FontAwesome; content: "\f054";
  font-style: normal; font-weight: normal; color: #C0C0C0 }
div.scrollLinks .left:before {
  font-family: FontAwesome; content: "\f053";
  font-style: normal; font-weight: normal; color: #C0C0C0 }
#poems:nth-of-type(4) { padding-bottom: 1em }
#poems:nth-of-type(8) { padding-bottom: 1em }
#poems:nth-of-type(11) { padding-bottom: 1em }
#subpoem3 { padding-bottom: 1em }
#subpoem7 { padding-bottom: 1em }
#subpoem10 { padding-bottom: 1em }




/* FOOTER */
footer { background: #ECEFF1; padding: .1em; text-align: center }







@media all and (min-width:600px) {

  .errors div { width: 25% }
  .errors .errorCode { width: 40%; min-width: 500px; overflow: visible }
  nav .navtext { display: inline-block }
  .mobile { display: none }
  .desktop { display: block }
  .cover { padding: 2em 1em; flex-direction: row }
  .cover img { width: 22% }



}

@media all and (min-width:750px) {

  :root { --unit: calc(var(--width)/89) }
  #img_spiral_div { 
    grid-template: repeat(55, var(--unit)) / repeat(89, var(--unit)) }
  #img_spiral_div a.one   { grid-column:  1/56; grid-row:  1/56 }
  #img_spiral_div a.two   { grid-column: 56/90; grid-row:  1/35 }
  #img_spiral_div a.three { grid-column: 69/90; grid-row: 35/56 }
  #img_spiral_div a.four  { grid-column: 56/69; grid-row: 43/56 }
  #img_spiral_div a.five  { grid-column: 56/64; grid-row: 35/43 }
  #img_spiral_div a.six   { grid-column: 64/69; grid-row: 35/40 }
  #img_spiral_div a.seven { grid-column: 66/69; grid-row: 40/43 }
  #img_spiral_div a.eight { grid-column: 64/66; grid-row: 41/43 }
  #img_spiral_div a.nine  { grid-column: 64/65; grid-row: 40/41 }
  #img_spiral_div a.ten   { grid-column: 65/66; grid-row: 40/41 }
  #img_spiral_div a.one img   { border-radius: 100% 0 0 0; border-width: 2px 0 0 2px }
  #img_spiral_div a.two img   { border-radius: 0 100% 0 0; border-width: 2px 2px 0 0 }
  #img_spiral_div a.three img { border-radius: 0 0 100% 0; border-width: 0 2px 2px 0 }
  #img_spiral_div a.four img  { border-radius: 0 0 0 100%; border-width: 0 0 2px 2px }
  #img_spiral_div a.five img  { border-radius: 100% 0 0 0; border-width: 2px 0 0 2px }
  #img_spiral_div a.six img   { border-radius: 0 100% 0 0; border-width: 2px 2px 0 0 }
  #img_spiral_div a.seven img { border-radius: 0 0 100% 0; border-width: 0 2px 2px 0 }
  #img_spiral_div a.eight img { border-radius: 0 0 0 100%; border-width: 0 0 2px 2px }
  #img_spiral_div a.nine img  { border-radius: 100% 0 0 0; border-width: 2px 0 0 2px }
  #img_spiral_div a.ten img   { border-radius: 0 100% 0 0; border-width: 2px 2px 0 0 }
  #img_spiral_div a img:hover { filter: invert(75%) }

}

@media all and (min-width:900px) {



}

