{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<article class="w3-text-theme">

<div class="w3-container w3-center">
  <div class="w3-topnav w3-margin">
      <a href="#understanding">Pataphysics</a>
      <a href="#technical">Technical</a>
      <a href="#confused">Background</a>
      <a href="#contact">Contact</a>
  </div>
  <hr>
</div>

<div class="w3-container w3-margin-bottom">
  <h4>Definitions</h4>
  <div class="w3-half w3-margin-bottom">
    <blockquote class="w3-blockquote">
      Pataphysics is the science of imaginary solutions.<br>
      Pataphysics is the science of the particular.<br>
      Pataphysics is the science of the laws governing exceptions and contradictions.<br>
      Pataphysics is to metaphysics as metaphysics is to physics.<br>
      Pataphysics describes a universe supplementary to this one.
    </blockquote>
  </div>
  <div class="w3-half">
    <blockquote class="w3-blockquote">
      Pataphysics is a science with an aesthetic sensibility. (Brotchie)<br>
      Pataphysics sets the parameters for the contemporary relationship between science and poetry. (Bök)<br>
      Pataphysics is a huge and elaborately constructed hoax. (Ionesco)<br>
      Pataphysics is the knowledge of the specific and irreducible, the opposite of physics. (Daumal)<br>
      Pataphysics is a systematic, reasoned displacement of perception and logic. (David)
    </blockquote>
  </div>
</div>

<header id="understanding" class="w3-container w3-theme-l4">
  <h2>(Mis-)Understanding <strong>Pataphysics</strong></h2>
</header>
<div class="w3-container">
  <div class="w3-half w3-padding-right">
  <p>
    Pataphysics is perhaps best (mis)understood by looking at some of its recurring themes, such as <strong>exceptions, syzygies, anomalies, clinamen, antinomies, contradictions, equivalents and imaginaries</strong>.
  </p>
  <h4>Clinamen</h4>
  <p>
    The term clinamen was first coined by Lucretius when he needed to name the <strong>aleatory swerve of atoms</strong> in their descent described by Epicurus. Approximately two millennia later, Alfred Jarry resurrected this obscured concept as a key principle of pataphysics.  Its influences can be found in the Situationists’ détournement, the Dadaists’ ready-mades and Oulipo’s verbal games, and so on. Lucretius had already linked the <strong>indeterministic</strong> property of the clinamen to free will and the Oulipo interprets it as a chance to escape certain restrictions given that any initial constraint are still followed (just as the atoms don’t randomly start to ascend but they swerve). Experimental poet Christian Bök has called the clinamen the <strong>smallest possible aberration that can make the greatest possible difference</strong>.
  </p>
  <p>
    One good example of a clinamen in action is Jarry’s merdre (the very first word in his Ubu play). He squeezed an extra ‘r’ into the French word ‘merde’ (meaning shit) and translates into something like ‘pshit’. By rendering a useful (if rude) word useless in this way, he introduced a pataphysical sense of creativity that persists: the word still exerts a fascination today.
  </p>
  </div>
  <div class="w3-half">
  <h4>Syzygy</h4>
  <p>
    A syzygy both surprises and confuses. The concept originally comes from the field of astronomy where it denotes the <strong>alignment of three celestial bodies</strong>. In a pataphysical context it usually describes a <strong>conjunction</strong> of things, something unexpected and surprising. Unlike serendipity, a simple chance encounter, the syzygy has a more scientific purpose. A typical instance is the <strong>pun</strong>, which Jarry called the syzygy of words. Next to being intentionally funny, puns demonstrate a clever use (or abuse) of grammar, syntax, pronunciation and/or semantics, often taken to a quite scientific level, such that without understanding of what is said and what the intended meaning is, the humour of the pun might be lost.
  </p>
  <h4>Antinomy</h4>
  <p>
    The antinomy, in a pataphysical sense, is the <strong>mutually incompatible or paradox</strong>. Mutually contradictory opposites can and do co-exist in the pataphysical universe.
  </p>
  <h4>Alfred Jarry</h4>
  <p>
    Alfred Jarry (1873-1907) is without doubt the prime exponent of pataphysics. The word pataphysics was invented by him and some of his schoolmates in France in the 1880s and Jarry elaborated on that initial idea, both in his celebrated Ubu plays and in his novels and speculative writings. He has been described as a poet, dramatist, novelist, journalist, artist, eccentric, alcoholic and sometimes even a lunatic.
  </p>
  </div>
  <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

<header id="technical" class="w3-container w3-theme-l4">
  <h2>Technical <strong>details</strong></h2>
</header>
<div class="w3-container">
  <div class="w3-half w3-padding-right">
  <p>
    In short, the tool reads in a library of plaintext files, and creates an <strong>index</strong> (a dictionary type data structure storing the vocabulary of the whole corpus together with a list that contains all documents and positions of the term within the document in the vocabulary). There are two collections of texts to choose from, either the Faustroll corpus or the Shakespeare corpus at this point.
  </p>
  Index:
  <div class="w3-code">
    {word1: [[fileA, posa], [fileB, posb], ...],
    word2: [[fileC, posc], [fileK, posk], ...],
    ...
    }
  </div>
  <p>
    All texts in the corpus are read into memory and processed, for example any stopwords of the source language are removed.
  </p>
  <p>
    Once a user submits a query, various important functions are triggered.
    First, the three <strong>patalgorithms</strong> are run to populate a list of results to be rendered.
  </p>
  Results:
  <div class="w3-code">
    [(title, (pre, word, post), algorithm), ...]
  </div>
</div>
<div class="w3-half">
  <p>
    Each algorithm pataphysicalises the original query term in its own way and looks for matches in the index.
  </p>
  <p>
    Results are presented in one of three ways. The default is the <strong>poetry</strong> view. It displays 14 lines of text, each of which can be changed to another iff more results are available. This is heavily inspried by Raymond Queneau's <em>'Cent mille milliards de poèmes'</em>.
    The other two options show the results either sorted by their <strong>source</strong> or by the <strong>algorithm</strong> by which they were generated.
  </p>
  <h4>List of dependencies</h4>
    <a href="http://www.python.org/">Python</a>,
    <a href="http://virtualenv.readthedocs.org/en/latest/index.html">Virtualenv</a>,
    <a href="https://pip.pypa.io/en/latest/index.html">Pip</a>,
    <a href="http://flask.pocoo.org/">Flask</a>,
    <a href="http://jinja.pocoo.org/">Jinja</a>,
    <a href="http://www.nltk.org/">NLTK</a>,
    <a href="https://wordnet.princeton.edu/">WordNet</a>,
    <a href="https://pypi.python.org/pypi/flickrapi">FlickrAPI</a>,
    <a href="https://pypi.python.org/pypi/gdata/2.0.18">GData</a>,
    <a href="https://pypi.python.org/pypi/microsofttranslator/0.6">MicrosoftTranslator</a>,
    and all relevant sub-dependencies.
  <h4>Source Code</h4>
  <p>
      The code is (currently NOT) available on my <a href="https://github.com/Fania"> Github</a>.
  </p>
  <a href="#"><i class="fa fa-chevron-up"></i></a>
  <!-- <h4>Known Issues & Bugs</h4>
  <ul class="w3-ul">
  </ul> -->
  </div>
</div>

<div class="w3-container">
  <div class="w3-half w3-padding-right">
  <h4>Corpora</h4>
  <p>
    The Faustroll corpus is inspired by the library of <strong>'equivalent books'</strong> from Alfred Jarry's book <em>Exploits and Opinions of Dr. Faustroll, 'Pataphysician</em>.
  </p>
  <ol class="w3-ol">
    <li>Alfred Jarry: Exploits and Opinions of Dr. Faustroll, 'Pataphysician</li>
    <li>Edgar Allen Poe: Collected Works</li>
    <li>Cyrano de Bergerac: A Voyage to the Moon</li>
    <li>Saint Luke: The Gospel</li>
    <li>Leon Bloy: Le Desespere (French)</li>
    <li>Samuel Taylor Coleridge: The Rime of the Ancient Mariner</li>
    <li>Georges Darien: Le Voleur (French)</li>
    <li>Marceline Desbordes-Valmore: Le Livre des Meres et des Enfants (French)</li>
    <li>Max Elskamp: Enluminures (French)</li>
    <li>Jean-Pierre Claris de Florian: Les Deux Billets (French)</li>
    <li>One Thousand and One Nights</li>
    <li>Christian Dietrich Grabbe: Scherz, Satire, Ironie und tiefere Bedeutung (German)</li>
    <li>Gustave Kahn: Le Conte de l'Or et Du Silence (French)</li>
    <li>Le Comte de Lautreamont: Les Chants de Maldoror (French)</li>
    <li>Maurice Maeterlinck: Aglavaine and Selysette</li>
    <li>Stephane Mallarme: Verse and Prose (French)</li>
    <li>Mendes: The Mirror and la Divina Aventure (English and Spanish)</li>
    <li>Homer: The Odyssey</li>
    <li>Josephin Peladan: Babylon</li>
    <li>Francois Rabelais: Gargantua and Pantagruel</li>
    <li>Jean de Chilra: L'Heure Sexuelle</li>
    <li>Henri de Regnier: La Canne de Jaspe</li>
    <li>Arthur Rimbaud: Poesies Completes (French)</li>
    <li>Marcel Schwob: Der Kinderkreuzzug (German)</li>
    <li>Alfred Jarry: Ubu Roi (French)</li>
    <li>Paul Verlaine: Poems</li>
    <li>Emile Verhaeren: Poems</li>
    <li>Jules Verne: A Journey to the Centre of the Earth</li>
  </ol>
  </div>

  <div class="w3-half">
    <p>
      The Shakespeare corpus contains (*surprise surprise*) works by William Shakespeare.
    </p>
    <ol class="w3-ol">
      <li>The Sonnets</li>
      <li>Alls Well That Ends Well</li>
      <li>The Tragedy of Antony and Cleopatra</li>
      <li>As You Like It</li>
      <li>The Comedy of Errors</li>
      <li>The Tragedy of Coriolanus</li>
      <li>Cymbeline</li>
      <li>The Tragedy of Hamlet, Prince of Denmark</li>
      <li>The First Part of King Henry the Fourth</li>
      <li>The Second Part of King Henry the Fourth</li>
      <li>The Life of Kind Henry the Fifth</li>
      <li>The First Part of Henry the Sixth</li>
      <li>The Second Part of Henry the Sixth</li>
      <li>The Third Part of Henry the Sixth</li>
      <li>King Henry the Eigth</li>
      <li>King John</li>
      <li>The Tragedy of Julius Caesar</li>
      <li>The Tragedy of King Lear</li>
      <li>Love's Labour's Lost</li>
      <li>The Tragedy of Macbeth</li>
      <li>Measure for Measure</li>
      <li>The Merchant of Venice</li>
      <li>The Merry Wives of Windsor</li>
      <li>A Midsummer Night's Dream</li>
      <li>Much Ado About Nothing</li>
      <li>The Tragedy of Othello, Moor of Venice</li>
      <li>King Richard the Second</li>
      <li>Kind Richard III</li>
      <li>The Tragedy of Romeo and Juliet</li>
      <li>The Taming of the Shrew</li>
      <li>The Tempest</li>
      <li>The Life of Timon of Athens</li>
      <li>The Tragedy of Titus Andronicus</li>
      <li>The History of Troilus and Cressida</li>
      <li>Twelfth Night or What You Will</li>
      <li>The Two Gentlemen of Verona</li>
      <li>The Winter's Tale</li>
      <li>A Lover's Complaint</li>
  </ol>
  </div>
  <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

<header id="confused" class="w3-container w3-theme-l4">
  <h2>Confused <strong>still?</strong></h2>
</header>
<div class="w3-container">
  <p>
      <strong><i>To understand this project is to not understand this project.</i></strong>
  </p>
  <h4>Why oh why...?</h4>
  <div class="w3-half w3-padding-right">
  <p>
    The system described and shown on this site is part of my PhD project:<br>
    <strong>‘Algorithmic Meta-Creativity’</strong>. The doctoral thesis can be found on <a href="http://dr.physics.wtf">dr.physics.wtf</a>.
  </p>
  <p>
    My research involves studying human and computer creativity and how they are evaluated, the absurd pseudo philosophy pataphysics and its applications, and the development of creative exploratory search algorithms inspired by pataphysical concepts.
  </p>
  <!-- ADD MORE HERE -->
  <p>
    Part of this research has been described in a <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7473036">paper</a> for the International Symposium on Creative Computing 2016 in Oxford, an <a href="http://www.tandfonline.com/doi/full/10.1080/14626268.2013.813377#.U6li4_ldV8E">article</a> for the Digital Creativity journal in 2013, and I presented a <a href="http://dl.acm.org/citation.cfm?id=2466648&CFID=824433372&CFTOKEN=80216159"> paper</a> at the Creativity & Cognition conference 2013 in Sydney.
  </p>
  </div>
  <div class="w3-half">
  <p>
    There is a talk about <a href="https://www.youtube.com/watch?v=UxYUZMyPE0o"target="_blank">'The Pataphysics of the Future'</a> given at the TDC at DMU in 2013 on Youtube and a more recent talk about the poetry aspect of the project at the Phoenix in Leicester as part of a Computer Arts Society <a href="https://vimeo.com/142947457">talk from 2015</a>.
  </p>
  <p>
    A previous version of this prototype was used in the creation of an online opera entitled <a href="http://andrewhugill.com/theimaginaryvoyage/">'The Imaginary Voyage'</a> and created in collaboration with The Opera Group, an award-winning, nationally and internationally renowned opera company. In particular, it was used to create the libretto for one of the virtual islands whose navigation provides the central storyline for the opera. This nicely demonstrates the paradox of <strong>uselessness</strong> as a concept, since the present purposely useless search tool has been quite useful here.
  </p>
  </div>
  <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

<header id="contact" class="w3-container w3-theme-l4">
  <h2><strong>About me</strong> & Contact</h2>
</header>
<div class="w3-container">
  <p>
    My personal website is <a href="http://fania.uk">fania.uk</a>. You can email me <a href="mailto:pata@physics.wtf?Subject=PataSearch">here</a>.
  </p>
  <p>
    This project is supervised by Prof. <strong>Hongji Yang</strong>, Prof. <strong>Andrew Hugill</strong>, Dr. <strong>Sophie Smith</strong> and Prof. <strong>Jim Hendler</strong>.
  </p>
  <p>
    <i class="fa fa-hand-spock-o fa-5x"></i>
  </p>
</div>

</article>

{% endblock %}