{% extends "base.html" %}

{% block content %}
    <h2>WTF is <strong>Pataphysics</strong> and who is Alfred Jarry?</h2>
    <p>
        Alfred Jarry (1873-1907) is without doubt the prime exponent of pataphysics. The word pataphysics was invented by him and some of his schoolmates in France in the 1880s and Jarry elaborated on that initial idea, both in his celebrated Ubu plays and in his novels and speculative writings. He has been described as a poet, dramatist, novelist, journalist, artist, eccentric, alcoholic and sometimes even a lunatic. 
    </p>

    <h3>Definitions</h3>
    <blockquote>
        Pataphysics is the science of imaginary solutions<br>
        Pataphysics is the science of the particular<br>
        Pataphysics is the science of the laws governing exceptions and contradictions<br>
        Pataphysics is to metaphysics as metaphysics is to physics<br>
        Pataphysics describes a universe supplementary to this one
    </blockquote>
    <blockquote>
        Pataphysics is a science with an aesthetic sensibility (Brotchie)<br>
        Pataphysics sets the parameters for the contemporary relationship between science and poetry (Bök)<br>
        Pataphysics is a huge and elaborately constructed hoax (Ionesco)<br>
        Pataphysics is the knowledge of the specific and irreducible, the opposite of physics (Daumal)<br>
        Pataphysics is a systematic, reasoned displacement of perception and logic (David)
    </blockquote>

    <h3>(Mis-)Understanding Pataphysics</h3>
    <p>
        Pataphysics is perhaps best (mis)understood by looking at some of its recurring themes, such as exceptions, syzygies, anomalies, clinamen, antinomies, contradictions, equivalents and imaginaries. These concepts can influence the ways in which we may navigate and transform the conceptual space of a given problem. We will explain the clinamen here (which would fall under Boden’s transformative creativity category) and then come back to it later when we introduce one of the algorithms we developed.
    </p>
    <p>
        The term clinamen was first coined by Lucretius when he needed to name the aleatory swerve of atoms in their descent described by Epicurus. Approximately two millennia later, Alfred Jarry resurrected this obscured concept as a key principle of pataphysics.  Its influences can be found in the Situationists’ détournement, the Dadaists’ ready-mades and Oulipo’s verbal games, and so on. Lucretius had already linked the indeterministic property of the clinamen to free will and the Oulipo interprets it as a chance to escape certain restrictions given that any initial constraint are still followed (just as the atoms don’t randomly start to ascend but they swerve). Experimental poet Christian Bök has called the clinamen the smallest possible aberration that can make the greatest possible difference.
    </p>
    <p>
        The Oulipo, which started as a subcommittee of the French college of pataphysics, has been studying constraints as tools for creativity since 1960. While they do a lot of work in literature, other groups have emerged that consider music, art, mathematics, cooking, etc. Oulipo scholar Warren Motte has collated a convenient list of elementary linguistic and literary operations that could prove very useful in computational implementations of the clinamen, namely displacement, substitution, addition, subtraction, multiplication, division, deduction and contradiction. Applying these operations to linguistic objects such as letters, phonemes, syllables or words results in phenomena like anagrams, cryptograms, lipograms, tautograms, spoonerisms, acronyms, rhymes, etc.
    </p>
    <p>
        One good example of a clinamen in action is Jarry’s merdre (the very first word in his Ubu play). He squeezed an extra ‘r’ into the French word ‘merde’ (meaning shit) and translates into something like ‘pshit’. By rendering a useful (if rude) word useless in this way, he introduced a pataphysical sense of creativity that persists: the word still exerts a fascination today.
    </p>

    <h2>Technical details and <strong>source</strong></h2>
    <p>
        The code is (currently NOT) available on my <a href="https://github.com/Fania" target="_blank"> Github</a>.
    </p>
    <ul>
        <li><a href="http://www.python.org/" target="_blank">Python 2.7.3</a></li>
        <li><a href="http://virtualenv.readthedocs.org/en/latest/index.html" target="_blank">Virtualenv 1.11.6</a></li>
        <li><a href="https://pip.pypa.io/en/latest/index.html" target="_blank">Pip 1.5.6</a></li>
        <li><a href="http://flask.pocoo.org/" target="_blank">Flask 0.10.1</a></li>
        <li><a href="http://www.nltk.org/" target="_blank">NLTK 2.0.4</a></li>
        <li><a href="https://pypi.python.org/pypi/flickrapi" target="_blank">Flickrapi 1.4.4</a></li>
        <li><a href="https://pypi.python.org/pypi/gdata/2.0.18" target="_blank">Gdata 2.0.18</a></li>
        <li><a href="https://pypi.python.org/pypi/microsofttranslator/0.6" target="_blank">Microsofttranslator 0.6</a></li>
        <li>And all relevant dependencies.</li>
    </ul>

    <h2>What's the point of this <strong>exactly?</strong></h2>
    <p>
        <i>To understand this project is to not understand this project.</i>
    </p>

    <h3>Why oh why?</h3>
    <p>
        The prototype described and shown on this site is part of my PhD project:<br>
        <strong>‘A pataphysical methodology for applying creativity to exploratory search.’</strong>
    </p>
    <p>
        My research involves studying human and computer creativity and how they are evaluated, the absurd pseudo philosophy pataphysics and its applications, and the development of creative exploratory search algorithms inspired by pataphysical concepts.
    </p>
    <p>
        Part of this research has been described in a journal <a href="http://www.tandfonline.com/doi/full/10.1080/14626268.2013.813377#.U6li4_ldV8E" target="_blank">article in Digital Creativity</a> in 2013, and I presented a paper at the <a href="http://cc13.creativityandcognition.com/" target="_blank">Creativity & Cognition conference 2013</a> in Sydney.
    </p>
    <p>
        There is a talk about <a href="https://www.youtube.com/watch?v=UxYUZMyPE0o"target="_blank">'The Pataphysics of the Future'</a> given at the TDC at DMU in 2013 on Youtube.
    </p>
    <p>
        This prototype was used in the creation of an online opera entitled <a href="http://andrewhugill.com/theimaginaryvoyage/" target="_blank">'The Imaginary Voyage'</a> and created in collaboration with The Opera Group, an award-winning, nationally and internationally renowned opera company. In particular, it was used to create the libretto for one of the virtual islands whose navigation provides the central storyline for the opera. This nicely demonstrates the paradox of “uselessness” as a concept, since our purposely useless search tool has been quite useful here.
    </p>

    <h3>About me</h3>
    <p>
        My personal webhome is <a href="http://fania.uk" target="_blank">www.fania.uk</a>.
    </p>
    <p>
        This project is supervised by Prof. <strong>Hongji Yang</strong>, Prof. <strong>Andrew Hugill</strong> and Prof. <strong>Jim Hendler</strong>.
    </p>

{% endblock %}