<!doctype html>

<html lang="en-GB">

<head>
<title>PataSearch</title>

<meta charset="utf-8">
<meta name="author" content="Fania Raczinski">
<meta name="description" content="An absurd and useless pataphysical search tool.">
<meta name="keywords" content="pataphysics, poetry, art, research, search">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/w3.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fania.css') }}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,900" rel="stylesheet" type="text/css">

<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}" color="#b91d47">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicons/favicon.ico') }}">
<meta name="apple-mobile-web-app-title" content="PataSearch">
<meta name="application-name" content="PataSearch">
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="msapplication-config" content="{{ url_for('static', filename='images/favicons/browserconfig.xml') }}">
<meta name="theme-color" content="#ffffff">

<script type="text/javascript" src="{{ url_for('static', filename='css/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='css/scramble.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='css/tab_handler.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='css/poemscroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='css/keys.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='css/fania.js') }}"></script>
</head>

<body>

<div class="loading"></div>

<nav>
  <a href="{{ url_for('index') }}">
    <i class="fa fa-home fa-inverse"></i>
    <span class="navtext"> Home</span>
  </a>
  <a href="{{ url_for('text') }}" >
    <i class="fa fa-book fa-inverse"></i>
    <span class="navtext"> Text</span>
  </a>
  <a href="{{ url_for('images') }}">
    <i class="fa fa-camera fa-inverse"></i>
    <span class="navtext"> Images</span>
  </a>
  <a href="{{ url_for('videos') }}">
    <i class="fa fa-video-camera fa-inverse"></i>
    <span class="navtext"> Video</span>
  </a>
  <a href="{{ url_for('about') }}">
    <i class="fa fa-info fa-inverse"></i>
    <span class="navtext"> About</span>
  </a>
</nav>

{% block content %}{% endblock %}

<div class="banner">
  <i class="fa fa-quote-left"></i> {{ getrandquote() }} <i class="fa fa-quote-right"></i>
</div>



<footer>
  <p>
    <i class="fa fa-copyright"></i>
    <a href="mailto:pata@physics.wtf?Subject=PataSearch">Fania Raczinski</a> - Clinamen 147 (March 2020 vulg.) -
    <i class="fa fa-hand-spock-o"></i>
  </p>
  <p><img src="{{ url_for('static', filename='images/dmu.png') }}"></p>
</footer>

<!-- GOOGLE ANALYTICS -->
<!-- <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-66113860-1', 'auto');
  ga('send', 'pageview');
</script> -->

</body>
</html>
