<!doctype html>

<html>

<head>
<title>PataSearch</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/w3.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/w3-theme-blue-grey.css') }}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,635,900" rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<script type='text/javascript' src='{{ url_for('static', filename='css/jquery-1.11.1.min.js') }}'></script>
<script type='text/javascript' src='{{ url_for('static', filename='css/scramble.js') }}'></script>
<script type="text/javascript" src='{{ url_for('static', filename='css/tab_handler.js') }}'></script>
<script type='text/javascript' src='{{ url_for('static', filename='css/dw_glidescroll.js') }}'></script>
<script type="text/javascript">
if ( DYN_WEB.Scroll_Div.isSupported() ) {
    DYN_WEB.Event.add( window, 'load', function() {
		// wndo args(id of scroll area div, id of content div)
    // addGlideControls args(id, axis('v'|'h'), distance, duration)
    var wndo1 = new DYN_WEB.Scroll_Div('wn1', 'lyr1');
		wndo1.addGlideControls('scrollLinks1', 'h', 635, 300);
    var wndo2 = new DYN_WEB.Scroll_Div('wn2', 'lyr2');
    wndo2.addGlideControls('scrollLinks2', 'h', 635, 300);
    var wndo3 = new DYN_WEB.Scroll_Div('wn3', 'lyr3');
    wndo3.addGlideControls('scrollLinks3', 'h', 635, 300);
    var wndo4 = new DYN_WEB.Scroll_Div('wn4', 'lyr4');
    wndo4.addGlideControls('scrollLinks4', 'h', 635, 300);
    var wndo5 = new DYN_WEB.Scroll_Div('wn5', 'lyr5');
    wndo5.addGlideControls('scrollLinks5', 'h', 635, 300);
    var wndo6 = new DYN_WEB.Scroll_Div('wn6', 'lyr6');
    wndo6.addGlideControls('scrollLinks6', 'h', 635, 300);
    var wndo7 = new DYN_WEB.Scroll_Div('wn7', 'lyr7');
    wndo7.addGlideControls('scrollLinks7', 'h', 635, 300);
    var wndo8 = new DYN_WEB.Scroll_Div('wn8', 'lyr8');
    wndo8.addGlideControls('scrollLinks8', 'h', 635, 300);
    var wndo9 = new DYN_WEB.Scroll_Div('wn9', 'lyr9');
    wndo9.addGlideControls('scrollLinks9', 'h', 635, 300);
    var wndo10 = new DYN_WEB.Scroll_Div('wn10', 'lyr10');
    wndo10.addGlideControls('scrollLinks10', 'h', 635, 300);
    var wndo11 = new DYN_WEB.Scroll_Div('wn11', 'lyr11');
    wndo11.addGlideControls('scrollLinks11', 'h', 635, 300);
    var wndo12 = new DYN_WEB.Scroll_Div('wn12', 'lyr12');
    wndo12.addGlideControls('scrollLinks12', 'h', 635, 300);
    var wndo13 = new DYN_WEB.Scroll_Div('wn13', 'lyr13');
    wndo13.addGlideControls('scrollLinks13', 'h', 635, 300);
    var wndo14 = new DYN_WEB.Scroll_Div('wn14', 'lyr14');
    wndo14.addGlideControls('scrollLinks14', 'h', 635, 300);
	});
}
</script>
</head>

<body>

<div id="main">

<nav class="w3-topnav w3-theme-l2 w3-center w3-padding w-card-4">
  <a href="{{ url_for('index') }}">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-home fa-stack-1x fa-inverse"></i>
    </span><span id="navtext"> Home</span>
  </a>
  <a href="{{ url_for('text') }}" >
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-book fa-stack-1x fa-inverse"></i>
    </span><span id="navtext"> Text</span>
  </a>
  <a href="{{ url_for('images') }}">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
    </span><span id="navtext"> Images</span>
  </a>
  <a href="{{ url_for('videos') }}">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
    </span><span id="navtext"> Video</span>
  </a>
  <a href="{{ url_for('about') }}">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-info fa-stack-1x fa-inverse"></i>
    </span><span id="navtext"> About</span>
  </a>
</nav>

{% block content %}{% endblock %}

<section class="w3-card-2 w3-center w3-theme-d3 banner">
  <i class="fa fa-quote-left"></i> {{ getrandquote() }}
    <i class="fa fa-quote-right"></i>
</section>

</div> <!-- main -->

<footer class="w3-container w3-theme-l5 w3-text-white-opacity w3-center">
  <p>
    <i class="fa fa-copyright"></i>
    <a href="mailto:me@fania.eu?Subject=PataSearch">Fania Raczinski</a> - Gidouille 142 (June 2014 vulg.) -
    <i class="fa fa-hand-spock-o"></i>
    <br>
    <img src="{{ url_for('static', filename='images/dmu.png') }}">
  </p>
</footer>

</body>

</html>
