<!doctype html>

<html>

<head>
<title>PataSearch</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,900" rel=stylesheet type=text/css />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script type='text/javascript' src='{{ url_for('static', filename='css/jquery-1.11.1.min.js') }}'></script>
<script type='text/javascript' src='{{ url_for('static', filename='css/scramble.js') }}'></script>
<script type='text/javascript' src='{{ url_for('static', filename='css/dw_glidescroll.js') }}'></script>
<script type="text/javascript">
if ( DYN_WEB.Scroll_Div.isSupported() ) {
    DYN_WEB.Event.add( window, 'load', function() {
		// arguments: id of scroll area div, id of content div
		var wndo = new DYN_WEB.Scroll_Div('wn', 'lyr1');
		// args: id, axis ('v' or 'h')
		// distance per click, duration of glide
		wndo.addGlideControls('scrollLinks', 'h', 200, 300);
	});
}
</script>
</head>

<body class="homepage">

<div id="header-wrapper">
    <nav id="nav">
        <ul>
            <li><a class="fa fa-home" href="{{ url_for('index') }}"><span>Home</span></a></li>
            <li><a class="fa fa-book" href="{{ url_for('text') }}" ><span>Text</span></a></li>
            <li><a class="fa fa-camera" href="{{ url_for('images') }}" ><span>Images</span></a></li>
            <li><a class="fa fa-video-camera" href="{{ url_for('videos') }}" ><span>Video</span></a></li>
            <li><a class="fa fa-info" href="{{ url_for('about') }}"><span>About</span></a></li>
        </ul>
    </nav>
    <div id="header" class="container">
        <a href="{{ url_for('index') }}"><h1>Pata<span class="mirror">p</span>hysical S<span class="mirror">e</span>arch</h1></a>
    </div>
</div>

<div id="banner-wrapper">
    <div class="inner">
        <section id="banner" class="container">
        <p><i class="fa fa-quote-left"></i> {{ getrandquote() }} <i class="fa fa-quote-right"></i></p>
        </section>
    </div>
</div>

<div id="main-wrapper">

<div id="main" class="container">
<div class="row">

<div id="content" class="12u skel-cell-important">

<article class="is-post">

    {% block content %}{% endblock %}

</article>

</div>
</div>
</div>
</div>

<div id="banner-wrapper">
    <div class="inner">
        <section id="banner" class="container">
        <p><i class="fa fa-quote-left"></i> {{ getrandquote() }} <i class="fa fa-quote-right"></i></p>
        </section>
    </div>
</div>

<div id="footer-wrapper">
    <div id="copyright" class="container">
        <ul class="links">
            <li>&copy; <a href="mailto:me@fania.eu?Subject=PataSearch">Fania Raczinski</a> - Tatane 142 (July 2015 vulg.)</li>
            <li><img src="{{ url_for('static', filename='images/dmu.png') }}"></li>
        </ul>
    </div>
</div>

</body>

</html>
