{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<article class="w3-text-theme">

<header class="w3-container w3-theme-l4">
  <h2 id="msg"><strong>Merdre</strong> !</h2>
</header>

<div class="w3-container w3-row">
  <div class="w3-col m4 l3">
    <p>
      <i class="fa fa-bug fa-rotate-90"></i> Well, phsit. <i class="fa fa-bug fa-rotate-270"></i><br>
      &#x202e;Not quite sure what happened here!
    </p>
    <p>
      <strong>Oooops :)</strong>
    </p>
  </div>

  <div class="w3-col m4 l4">
    <form class="inform" action="https://en.wikipedia.org/wiki/Abort,_Retry,_Fail%3F">
      <input type="submit" value="Abort" style="display: inline;">
    </form>
    <form class="inform" action="http://pata.physics.wtf">
      <input type="submit" value="Retry" style="display: inline;">
    </form>
    <form class="inform" action="">
      <input type="submit" value="Ignore" style="display: inline;">
    </form>
    <form class="inform" action="http://cdn.sstatic.net/stackoverflow/img/polyglot-404.png">
      <input type="submit" value="Fail" style="display: inline;">
    </form>
    <br><br>
    <a href="http://xkcd.com/1024/" class="iconlink"><i class="fa fa-bug fa-5x"></i></a>
  </div>

  <div class="w3-col m4 l4">
    <code>
      #define v putchar

      #define print(x)    main(){ v(4+v(v(52)-4));return 0; }/*
      #>+++++++4+[>++++++<-]>++++.----.++++.*/
      print(202*2);exit();
      #define/*>.@/exit()
    </code>
  </div>
</div>

<br>

</article>

{% endblock %}
