{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<article class="w3-text-theme">

<form class="w3-container" action="../imageresults" method="post">
  <p class="w3-center">
    <input id="flickr" class="w3-radio" type="radio" name="img_choice" value="flickr"><label class="w3-validate">Flickr</label>
    <input id="getty" class="w3-radio" type="radio" name="img_choice" value="getty"><label class="w3-validate">Getty</label>
    <!--<input id="bing" class="w3-radio" type="radio" name="img_choice" value="bing"><label class="w3-validate">Bing</label>-->
    <!-- <input id="google" class="w3-radio" type="radio" name="img_choice" value="google"><label class="w3-validate">Google</label> -->
  </p>
  <div class="w3-group">
    <input class="w3-input" name="query" autofocus="autofocus" type="text" required><label class="w3-label">Search</label>
    <button type="submit" class="w3-btn w3-theme-l2 fanbtn" onclick="loading();">
      <i class="fa fa-search"></i></button>
  </div>
</form>

<div class="w3-container">
  <hr>
  <nav class="tabs w3-topnav w3-center w3-margin">
    <a class="active" href="#tab1">Spiral</a>
    <a href="#tab2">List</a>
  </nav>
  <hr>
</div>

<div class="w3-container w3-padding">
  <strong>Pataphysicalisation: &nbsp;&nbsp; </strong>
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ oldquery }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form> ==
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ translations.0 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form> ==
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ translations.1 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form> ==
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ translations.2 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form> ==
  [<form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ queries.0 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form>, 
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ queries.1 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form>, 
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ queries.2 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form>, 
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ queries.3 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form>, 
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ queries.4 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form>, 
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ queries.5 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form>, 
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ queries.6 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form>, 
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ queries.7 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form>, 
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ queries.8 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form>, 
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ queries.9 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form>]
</div>

<!-- JAVASCRIPT -->
<meta id="iquery0" data-query="{{ queries.0 }}">
<meta id="iquery1" data-query="{{ queries.1 }}">
<meta id="iquery2" data-query="{{ queries.2 }}">
<meta id="iquery3" data-query="{{ queries.3 }}">
<meta id="iquery4" data-query="{{ queries.4 }}">
<meta id="iquery5" data-query="{{ queries.5 }}">
<meta id="iquery6" data-query="{{ queries.6 }}">
<meta id="iquery7" data-query="{{ queries.7 }}">
<meta id="iquery8" data-query="{{ queries.8 }}">
<meta id="iquery9" data-query="{{ queries.9 }}">
<meta id="ichoice" data-choice="{{ choice }}">
<script>(function(){
  var qs = [];
  for (var x=0; x<10; x++){
    tmp = "#iquery" + x;
    qs[x] = $(tmp).data();
    // console.log(qs[x]);
  }
  var c = $('#ichoice').data();
  var ch = document.getElementById(c.choice);
  function checkradio(){
    ch.checked = true;
    console.log("checked the radio button")
  }
  if (c.choice === 'flickr'){
    flickrsearch(qs);
  }
  if (c.choice === 'getty'){
    gettysearch(qs[0].query);
  }
  // if (c.choice === 'bing'){
  //   bingsearch(qs);
  // }
  // if (c.choice === 'google'){
  //   googlesearch(q.query);
  // }
  checkradio();
})();
</script>


<!-- TABS -->
<div class="w3-container tab_container w3-padding-0">

<!-- SPIRAL -->
<div id="tab1" class="tab_content">
  <header class="w3-container w3-theme-l4">
    <h2>Spiral <div class="w3-text-light-grey" style="display:inline;">{{ choice }}</div></h2>
  </header>
  <div class="w3-container">
    <p>
      The results are displayed in golden spiral form in pataphysical fashion. Hover for title, click for source.
    </p>
  </div>
  <div class="w3-container w3-theme-l5 poetry">
    <div class="img_empty" id="img_spiral_div">
      <!-- Javascript puts spiral code here -->
    </div>
  </div>
</div> <!-- end spiral -->

<!-- LIST -->
<div id="tab2" class="tab_content">
  <header class="w3-container w3-theme-l4">
    <h2>List <div class="w3-text-light-grey" style="display:inline;">{{ choice }}</div></h2>
  </header>
  <div class="w3-container">
    <p>
      Images - Hover for title, click for source.
    </p>
  </div>

  <div class="w3-container w3-theme-l5 poetry">
    <!-- title, img, link -->
    <div class="w3-row" id="img_list_div">
      <!-- Javascript puts list code here -->
    </div>
    <div class="img_empty"></div>
  </div>

</div> <!-- end list -->

</div> <!-- end tabs -->

</article>

{% endblock %}
