{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<main>

  <h2><i class="fa fa-camera"></i> <strong>Image</strong> S<span class="mirror">e</span>arch</h2>

  <p>The image search uses the Search API of your choice. Results can be displayed in golden spiral form or in list form.</p>

  <!-- MAIN SEARCH -->
  <form class="mainsearch" action="../imageresults" method="post">
    <fieldset>
      <input id="flickr" type="radio" name="img_choice" value="flickr" checked><label for="flickr">Flickr</label>
      <input id="bing" type="radio" name="img_choice" value="bing"><label for="bing">Bing</label>
    </fieldset>
    <fieldset>
      <input name="query" type="text" placeholder=" Search" autofocus required>
      <button type="submit" class="button" onclick="loading()"><i class="fa fa-search"></i></button>
    </fieldset>
  </form>


  <h3>How to use</h3>

  <div class="indent">
    <p>Image search supports multiple keywords.</p>
    <h4>Search suggestions:</h4>
    <form class="inlineform" action="../imageresults" method="post" title="clear consciousness - Flickr"><input type="submit" name="query" value="clear consciousness" onclick="loading()"><input class="hide" name="img_choice" value="flickr"></form>,
    <form class="inlineform" action="../imageresults" method="post" title="internet troll - Flickr"><input type="submit" name="query" value="internet troll" onclick="loading()"><input class="hide" name="img_choice" value="flickr"></form>,
    <form class="inlineform" action="../imageresults" method="post" title="large - Bing"><input type="submit" name="query" value="large" onclick="loading()"><input class="hide" name="img_choice" value="bing"></form>,
    <form class="inlineform" action="../imageresults" method="post" title="living large - Flickr"><input type="submit" name="query" value="living large" onclick="loading()"><input class="hide" name="img_choice" value="flickr"></form>,
    <form class="inlineform" action="../imageresults" method="post" title="solid foundations - Flickr"><input type="submit" name="query" value="solid foundations" onclick="loading()"><input class="hide" name="img_choice" value="flickr"></form>,
    <form class="inlineform" action="../imageresults" method="post" title="off the books - Bing"><input type="submit" name="query" value="off the books" onclick="loading()"><input class="hide" name="img_choice" value="bing"></form>
  </div>

</main>

{% endblock %}
