{% extends "base.html" %}

{% block content %}
<header>
    <h2><i class="fa fa-camera"></i> <strong>Image</strong> S<span class="mirror">e</span>arch</h2>
</header>
<p>
    The image search uses Flickr and Bing APIs. The results are displayed in golden spiral form in pataphysical fashion.
</p>

<div class="search_form">
    <form action="../imageresults" method="post">
        <input class="search_area" name="query" autofocus="autofocus" size="50"></input>
        <input class="search_button" type="submit" value="Search"> <i class="fa fa-search"></i></input>
    </form>
</div>

<h3>How to use</h3>
<p>Image search supports multiple keywords.</p>

<h4>Search suggestions:</h4>
    '<form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="clear sky"></input></form>'
    '<form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="pretty troll"></input></form>'
    '<form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="large dog"></input></form>'
    '<form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="lively sound"></input></form>'
    '<form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="solid liquid"></input></form>'
    '<form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="listening to books"></input></form>'

{% endblock %}