{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<article class="w3-text-theme">

<header class="w3-container w3-theme-l4">
  <h2><i class="fa fa-camera"></i> <strong>Image</strong> S<span class="mirror">e</span>arch
  </h2>
</header>

<div class="w3-container">
  <p>
    The image search uses Flickr and Bing APIs. The results are displayed in golden spiral form in pataphysical fashion.
  </p>
</div>

<form class="w3-container" action="../imageresults" method="post">
  <div class="w3-group">
    <input class="w3-input" name="query" autofocus="autofocus" type="text" required><label class="w3-label">Search</label>
    <button type="submit" class="w3-btn w3-theme-l2 fanbtn">
      <i class="fa fa-search"></i></button>
  </div>
</form>

<header class="w3-container w3-theme-l5">
  <h3>How to use</h3>
</header>
<div class="w3-container">
  <p>Image search supports multiple keywords.</p>

  <h4>Search suggestions:</h4>
    <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="clear consciousness"></input></form>,
    <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="internet troll"></input></form>,
    <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="large"></input></form>,
    <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="living large"></input></form>,
    <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="solid foundations"></input></form>,
    <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="off the books"></input></form>
</div>

<br>

</article>

{% endblock %}
