{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<article class="w3-text-theme">

<form class="w3-container" action="../imageresults" method="post">
  <p class="w3-center">
    <input class="w3-radio" type="radio" name="img_choice" value="flickr" checked><label class="w3-validate">Flickr</label>
    <input class="w3-radio" type="radio" name="img_choice" value="getty"><label class="w3-validate">Getty</label>
    <input class="w3-radio" type="radio" name="img_choice" value="bing"><label class="w3-validate">Bing</label>
    <input class="w3-radio" type="radio" name="img_choice" value="google"><label class="w3-validate">Google</label>
  </p>
  <div class="w3-group">
    <input class="w3-input" name="query" autofocus="autofocus" type="text" required><label class="w3-label">Search</label>
    <button type="submit" class="w3-btn w3-theme-l2 fanbtn" onclick="loading();">
      <i class="fa fa-search"></i></button>
  </div>
</form>

<div class="w3-container">
  <hr>
  <nav class="tabs w3-topnav w3-center w3-margin">
    <a class="active" href="#tab1">Spiral</a>
    <a href="#tab2">List</a>
  </nav>
  <hr>
</div>

<div class="w3-container w3-padding">
  <strong>Pataphysicalisation: &nbsp;&nbsp; </strong>
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ oldquery }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form> ==
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ translations.0 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form> ==
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ translations.1 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form> ==
  <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ translations.2 }}" onclick="loading();"></input><input class="w3-hide" name="img_choice" value="{{ choice }}"></input></form>
</div>


<!-- FLICKR JAVASCRIPT -->
<meta id="davequery" data-query="{{ query }}">
<script>(function(){
  var q = $('#davequery').data();
  flickrsearch(q)
})();
</script>
<!-- <div class="" id="img_num"></div> -->

<!-- GETTY JAVASCRIPT -->
  <!-- <div id="output"></div>
  <script>GetSearchResults("Hello Kitty")</script> -->


<!-- TABS -->
<div class="w3-container tab_container w3-padding-0">

<!-- SPIRAL -->
<div id="tab1" class="tab_content">
  <header class="w3-container w3-theme-l4">
    <h2>Spiral <div class="w3-text-light-grey" style="display:inline;">{{ choice }}</div></h2>
  </header>
  <div class="w3-container">
    <p>
      The results are displayed in golden spiral form in pataphysical fashion. Hover for title, click for source.
    </p>
  </div>
  <div class="w3-container w3-theme-l5 poetry">
    <div class="img_empty" id="img_spiral_div"></div>
      <!-- Javascript puts spiral code here -->
  </div>
</div> <!-- end spiral -->

<!-- LIST -->
<div id="tab2" class="tab_content">
  <header class="w3-container w3-theme-l4">
    <h2>List <div class="w3-text-light-grey" style="display:inline;">{{ choice }}</div></h2>
  </header>
  <div class="w3-container">
    <p>
      Images - Hover for title, click for source.
    </p>
  </div>

  <div class="w3-container w3-theme-l5 poetry">
    <!-- title, img, link -->
    <div class="w3-row" id="img_list_div">
      <!-- {% for img in images_imgs %}
        <div class="w3-col s12 m6 l3 w3-padding">
          <a href="{{ img[2] }}">
            <img src="{{ img[1] }}" style="width:100%">
          </a>
        </div>
      {% endfor %} -->
    </div>
    <div class="img_empty"></div>
  </div>


  <!-- <div class="poetry w3-container w3-theme-l5">
    {% if (lol|length) != 0 %}
      {% for n in range(1, lol|length + 1) %}
        {% set wid = ['wn', n|string]|join %}
        {% set lid = ['lyr', n|string]|join %}
        {% set sid = ['scrollLinks', n|string]|join %}
        {% set aid = lol[n-1] %}
        <div id="poems">
          <div id="{{wid}}" class="wn">
            <div id="{{lid}}" class="lyr">
              {% for sens in aid %}<span title="{{ sens[0] }}, {{ sens[2] }}">{{ sens[1][0] }} <form class="inform" action="../textresults" method="post"><input class="w3-hide" type="radio" name="corpus" value="{{ corpus }}" checked><input class="inlink" type="submit" name="query" value="{{ sens[1][1] }}" onclick="loading();"></input></form> {{ sens[1][2] }}</span>{% endfor %}
            </div>
          </div>
          <div id="{{sid}}" class="scrollLinks"></div>
        </div>
      {% endfor %}
    {% else %}
      <div class="w3-center">Not enough results found.</div>
    {% endif %}
  </div> -->






</div> <!-- end list -->

</div> <!-- end tabs -->

</article>

<script>
  var img_choice = "{{ choice }}";
  $(img_choice).checked = true;
</script>

{% endblock %}
