{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<article class="w3-text-theme">

<div class="w3-container w3-padding">
  <form action="../imageresults" method="post">
    <div class="w3-group">
      <input class="w3-input" name="query" autofocus="autofocus" type="text" required><label class="w3-label">Search</label>
      <button type="submit" class="w3-btn w3-theme-l2 fanbtn">
        <i class="fa fa-search"></i></button>
    </div>
  </form>
</div>

<div class="w3-container w3-padding">
  <p>
    <strong>Pataphysicalisation: </strong>
    <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ query }}"></input></form> ==
    <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ translations.0 }}"></input></form> ==
    <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ translations.1 }}"></input></form> ==
    <form class="inform" action="../imageresults" method="post"><input class="inlink" type="submit" name="query" value="{{ translations.2 }}"></input></form>
    <hr>
  </p>
</div>

<div class="w3-container tab_container w3-padding-0">

<!-- all_sens = [(title, (pre, word, post), algorithm), ...] -->

</div>

</article>

{% endblock %}
