{% extends "base.html" %}

{% block content %}

{% include "indexheader.html" %}

<article class="w3-text-theme">

<header class="w3-container w3-theme-l4">
  <h2><i class="fa fa-bullhorn"></i> Welc<span class="mirror">r</span>ome!</h2>
</header>
<div class="w3-container">
  <p>
      Imagine a search engine that does not return the results you expect, but constantly surprises you and leads you down unpredictably creative avenues. This kind of inspiration is sometimes more desirable than concrete answers and exploratory browsing, with its flexible criteria for satisfying information needs, can provide just that. Instead of relying on arbitrary relevance indicators a more creative approach to filtering and ranking results can improve an exploratory search experience even further. Seemingly useless results can turn out to be the most interesting.
  </p>
  <p>
      This is a simple proof-of-concept tool to demonstrate the <strong>patalgorithms</strong> (pataphysical algorithms) we developed.
  </p>
</div>

<div class="w3-container w3-center">
<div class="w3-card-4 w3-border" style="float:left;">
  <img class="trio" src="{{ url_for('static', filename='images/trio.jpg') }}" alt="DocteurFaustroll_RevueBlanche_JaneAvril" style="width:100%">
</div>
</div>

</article>

{% endblock %}
