{% extends "base.html" %}

{% block content %}

<header>
  <img class="spiral" src="{{ url_for('static', filename='images/spiral.png') }}"/>
  <a href="{{ url_for('index') }}">
    <h1 id="msg" class="desktop">pata. physics. search</h1>
    <h1 class="mobile">pata. search</h1>
  </a>
</header>

<div class="banner">
  <i class="fa fa-quote-left"></i> {{ getrandquote() }} <i class="fa fa-quote-right"></i>
</div>

<main class="cover">
  <img title="Aubrey Beardsley - Docteur Faustroll" src="{{ url_for('static', filename='images/DocteurFaustroll.jpg') }}" alt="Docteur Faustroll">
  <img title="Pierre Bonnard - La Revue Blanche" src="{{ url_for('static', filename='images/RevueBlanche.jpg') }}" alt="Revue Blanche">
  <img title="Oberthür de Rennes - Saint Cado" src="{{ url_for('static', filename='images/SaintCado.jpg') }}" alt="Saint Cado">
  <img title="Henri de Toulouse-Lautrec - Jane Avril" src="{{ url_for('static', filename='images/JaneAvril.png') }}" alt="Jane Avril">
</main>

<script type="text/javascript" src="{{ url_for('static', filename='meta/scramble.js') }}"></script>

{% endblock %}
