
<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!-- <link type="text/css" rel="stylesheet" href="/static/css/main.css" /> -->
    <title>PataSearch!</title>
</head>

<body>

<div class="header">
    <h1>
        <a href="">Pataphysical Search!</a>
    </h1>
</div>

<div class="left">
    <p>
        The prototypes <br>
        on this page <br>
        demonstrate <br>
        various <br>
        algorithms for <br>
        creative search.
    </p>
</div>

<div class="content">

    <a href="{{ url_for('p01') }}">Prototype 01 - Text search</a>
    <br>
    <a href="{{ url_for('p02') }}">Prototype 02 - Image search</a>
    <br>
    <a href="{{ url_for('p03') }}">Prototype 03 - Video search</a>

</div>

</body>

<div class="footer">
    <footer>
        <p class="footnote">
            These prototypes were written in <a href="http://www.python.org/">python 2.6.1</a> 
            and the website is using <a href="http://flask.pocoo.org/docs/">flask 0.10.1</a>.<br><br>
            Fania Raczinski - De Montfort University - Gidouille 142 (July 2014 vulg.)<br>
            :)
        </p>
    </footer>
</div>

</html>
