<html>

<head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    {% block header %}{% endblock %}
    <title>PataSearch!</title>
</head>

<body>

<div class="header">
    <h1>
        <a href="/">Pataphysical Search!</a>
        <i>&nbsp;&nbsp; within <a href="http://www.amazon.co.uk/Exploits-Opinions-Faustroll-Alfred-Jarry/dp/1878972073/ref=sr_1_1?ie=UTF8&qid=1336661693&sr=8-1" target="_blank">"Exploits and Opinions of Dr. Faustroll, Pataphysician"</a> by Alfred Jarry</i>
    </h1>
</div>

<div class="left">
    <p>
        PROTOTYPE 01
        <br><br>
        This is a simple prototype of a pataphysical search tool.
        It searches through Jarry's Faustroll book only.
        <br><br>
        Please search for single words only.
        <br><br>
        Search suggestions:<br>
        '<a href="?query=clear">clear</a>'<br>
        '<a href="?query=troll">troll</a>'<br>
        '<a href="?query=large">large</a>'<br>
        '<a href="?query=live">live</a>'<br>
        '<a href="?query=solid">solid</a>'<br>
        '<a href="?query=books">books</a>'<br>

    </p>
</div>

<div class="content">
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</div>

</body>

<div class="footer">
    <footer>
        <p class="footnote">
            This prototype was written in <a href="http://www.python.org/" target="_blank">python 2.7</a> 
            and the website using <a href="https://www.djangoproject.com/" target="_blank">django 1.4</a>.<br>
            It uses the <a href="http://www.nltk.org/" target="_blank">NLTK</a> natural language processing library and <a href="http://wordnet.princeton.edu/" target="_blank">WordNet</a>.<br>
            <br>
            Fania Raczinski - De Montfort University - Palotin, 139 (May 2012 vulg.)<br>
            :)
        </p>
    </footer>
</div>

</html>

