{% extends "base.html" %}

{% block content %}
<header>
    <h2>...And what does this have to do with Video Search?</h2>
</header>
<p>
    Video search works in the same way that image search does and results are also presented in spiral form. it uses bing video and youtube apis.
</p>

<div class="search_form">
    <form action="../p03results" method="post">
        <input class="search_area" name="query" size="50"></input>
        <input class="search_button" type="submit" value="Search"></input>
    </form>
</div>

<div class="experiment-container">
    <div class="golden-ratio horiz">
        <div class="golden-ratio vert">
            <div class="golden-ratio horiz">
                <div class="golden-ratio vert postition-tweak">
                    <div class="golden-ratio horiz postition-tweak">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="experiment-container-2">
        <div class="golden-ratio spiral top horiz">
            <div class="golden-ratio spiral right vert">
                <div class="golden-ratio spiral bottom horiz">
                    <div class="golden-ratio spiral vert left postition-tweak">
                        <div class="golden-ratio spiral horiz top postition-tweak">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h3>How to use</h3>
<p>Text search is currently only supported for single words only.</p>
<p>Search suggestions:<br>
    '<a href="?query=clear">clear</a>'
    '<a href="?query=troll">troll</a>'
    '<a href="?query=large">large</a>'
    '<a href="?query=live">live</a>'
    '<a href="?query=solid">solid</a>'
    '<a href="?query=books">books</a>'</p>

{% endblock %}