{% extends "base.html" %}

{% block content %}
<header>
    <h2><i class="fa fa-book"></i> <strong>Text</strong> S<span class="mirror">e</span>arch</h2>
</header>
<p>
    For the sake of simplicity we limited the corpus of this system to the text of Alfred Jarry’s <a href="http://www.amazon.co.uk/Exploits-Opinions-Faustroll-Alfred-Jarry/dp/1878972073/ref=sr_1_1?ie=UTF8&qid=1336661693&sr=8-1" target="_blank">"Exploits and Opinions of Dr. Faustroll, Pataphysician"</a> (and not the World Wide Web). I will add other sources in the future. Shakespeare, random texts, etc to come.
</p>

<div class="search_form">
    <form action="../textresults" method="post">
        <input class="search_area" name="query" autofocus="autofocus" size="50"></input>
        <input class="search_button" type="submit" value="Search"> <i class="fa fa-search"></i></input>
    </form>
</div>

<h3>How to use</h3>
<p>Text search is currently only supported for single words only.</p>

<h4>Search suggestions:</h4>
    '<form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="clear"></input></form>'
    '<form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="troll"></input></form>'
    '<form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="large"></input></form>'
    '<form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="live"></input></form>'
    '<form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="solid"></input></form>'
    '<form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="books"></input></form>'

{% endblock %}