{% extends "base.html" %}

{# http://jinja.pocoo.org/docs/dev/templates/ #}

{% block content %}
<div class="search_form">
    <form action="../textresults" method="post">
        <input class="search_area" name="query" autofocus="autofocus" size="50"></input>
        <input class="search_button" type="submit" value="Search"></input>
    </form>
</div>

<div class="results">
    <!-- clin_sens = {word1: [(title, (pre, word, post)), ...], -->

    <div class="resultset">
        {% if clin_words %}
            <div id="results">

              <div id="wn"> <!-- scroll area div. lyr1 is layer in scroll area (content div) -->
                  <div id="lyr1">
                    <img src="../static/images/demo/sunset.gif" width="150" height="150" alt=""/>
                    <img src="../static/images/demo/cave-art.gif" width="150" height="150" alt=""/>
                    <img src="../static/images/demo/swans.gif" width="150" height="150" alt=""/>
                    <img src="/images/demo/design1.gif" width="150" height="150" alt=""/>
                    <img src="/images/demo/mandala2.gif" width="150" height="150" alt=""/>
                    <img src="/images/demo/turtle.gif" width="150" height="150" alt=""/>
                    <img src="/images/demo/mandala1.gif" width="150" height="150" alt=""/>
                  </div> <!-- end content div (lyr1) -->
              </div>  <!-- end wn div -->
              <div id="scrollLinks"></div>

              <!-- <ul style="width: 8em; height: 1.25em; overflow: hidden; padding: 0; margin: 0;">
                {% for c in clin_words %}
                <li style="display: inline-block; text-align: center; width: 8em; background: #fcc; padding: 0; margin: 0;">{{ c }}</li>
                {% endfor %}
              </ul> -->

            </div>
        {% else %}
            Clinamen - Sorry, no pataphysicalised reverberations found!
        {% endif %}
    </div>

    <!-- <div class="resultset">
        {% if clin_words %}
            Clinamen - {{ clin_words|length }} pataphysicalised
            {% if clin_words|length == 1 %}reverberation{% else %}reverberations{% endif %} found in {{ clin_files|length }} {% if clin_files|length == 1 %}origin{% else %}origins{% endif %} for: <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ query }}"></input></form>
            <div id="results">
                <ul>
                    {% for key in clin_words %}
                        {% for prek, prev in clin_sens.iteritems() %}
                            {% if prek == key %}
                              {% for p1, p2 in prev %}
                                <li title="{{ p1 }}">...{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}...</li>
                              {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            Clinamen - Sorry, no pataphysicalised reverberations found!
        {% endif %}
    </div> -->

    <!-- <div class="resultset">
      {% if sys_words %}
          Syzygy - {{ sys_sens|length }} pataphysicalised
          {% if sys_sens|length == 1 %}reverberation{% else %}reverberations{% endif %}
          found in {{ sys_files|length }} {% if sys_files|length == 1 %}origin{% else %}origins{% endif %} for: <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ query }}"></input></form>
          <div id="results">
              <ul>
                {% for key in sys_words %}
                    {% for prek, prev in sys_sens.iteritems() %}
                        {% if prek == key %}
                          {% for p1, p2 in prev %}
                            <li title="{{ p1 }}">...{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[1] }}...</li>
                          {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
              </ul>
          </div>
      {% else %}
            Syzygy - Sorry, no pataphysicalised reverberations found!
        {% endif %}
    </div>

    <div class="resultset">
        {% if anti_words %}
            Antinomy - {{ anti_sens|length }} pataphysicalised
            {% if anti_sens|length == 1 %}reverberation{% else %}reverberations{% endif %}
            found in {{ anti_files|length }} {% if anti_files|length == 1 %}origin{% else %}origins{% endif %} for: <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ query }}"></input></form>
            <div id="results">
                <ul>
                  {% for key in anti_words %}
                      {% for prek, prev in anti_sens.iteritems() %}
                          {% if prek == key %}
                            {% for p1, p2 in prev %}
                              <li title="{{ p1 }}">...{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[1] }}...</li>
                            {% endfor %}
                          {% endif %}
                      {% endfor %}
                  {% endfor %}
                </ul>
            </div>
        {% else %}
            Antinomy - Sorry, no pataphysicalised reverberations found!
        {% endif %}
    </div> -->

</div>
{% endblock %}
