{% extends "base.html" %}

{% block content %}
<div class="search_form">
    <form action="../textresults" method="post">
        <input class="search_area" name="query" autofocus="autofocus" size="50"></input>
        <input class="search_button" type="submit" value="Search"></input>
    </form>
</div>

<div class="results">
  <!-- <div class="trail">
      <i class="fa fa-caret-right"></i> {{ query }}
      {# {% for item in s.queries %}
          {{ query }} <strong><a href="?query={{ item }}">{{ item }}</a></strong>
      {% endfor %} #}
  </div> -->

  <div class="resultset">
    <span><form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ query }}"></input></form></span>
    <span title="Results - Reverberations - Origins"> : {{ all_tot }} - {{ all_words|length }} - {{ all_files|length }}</span>
  </div>

  <!-- clin_sens = {word1: [(title, (pre, word, post)), ...], -->

  <!-- POETRY -->
  <div class="resultset">
    {% if clin_words %}
      <!-- Clinamen - {{ clin_words|length }} pataphysicalised {% if clin_words|length == 1 %}reverberation{% else %}reverberations{% endif %} found in {{ clin_files|length }} {% if clin_files|length == 1 %}origin{% else %}origins{% endif %}. -->
      Inspired by Raymond Queneau's <a href="http://www.growndodo.com/wordplay/oulipo/10%5e14sonnets.html">Cent Mille Milliards de poèmes</a><br>

      <!-- Stanza 1 -->
      <div class="results">

        <div id="wn1" class="wn">
          <div id="lyr1" class="lyr">
            {% for key in clin_words %}
              {% for prek, prev in clin_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks1" class="scrollLinks"></div>

        <div id="wn2" class="wn">
          <div id="lyr2" class="lyr">
            {% for key in sys_words %}
              {% for prek, prev in sys_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks2" class="scrollLinks"></div>

        <div id="wn3" class="wn">
          <div id="lyr3" class="lyr">
            {% for key in anti_words %}
              {% for prek, prev in anti_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks3" class="scrollLinks"></div>

        <div id="wn4" class="wn">
          <div id="lyr4" class="lyr">
            {% for key in anti_words %}
              {% for prek, prev in anti_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks4" class="scrollLinks"></div>
      </div>

      <!-- Stanza 2 -->
      <div class="results">

        <div id="wn5" class="wn">
          <div id="lyr5" class="lyr">
            {% for key in clin_words %}
              {% for prek, prev in clin_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks5" class="scrollLinks"></div>

        <div id="wn6" class="wn">
          <div id="lyr6" class="lyr">
            {% for key in sys_words %}
              {% for prek, prev in sys_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks6" class="scrollLinks"></div>

        <div id="wn7" class="wn">
          <div id="lyr7" class="lyr">
            {% for key in anti_words %}
              {% for prek, prev in anti_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks7" class="scrollLinks"></div>

        <div id="wn8" class="wn">
          <div id="lyr8" class="lyr">
            {% for key in anti_words %}
              {% for prek, prev in anti_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks8" class="scrollLinks"></div>
      </div>

      <!-- Stanza 3 -->
      <div class="results">

        <div id="wn9" class="wn">
          <div id="lyr9" class="lyr">
            {% for key in clin_words %}
              {% for prek, prev in clin_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks9" class="scrollLinks"></div>

        <div id="wn10" class="wn">
          <div id="lyr10" class="lyr">
            {% for key in sys_words %}
              {% for prek, prev in sys_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks10" class="scrollLinks"></div>

        <div id="wn11" class="wn">
          <div id="lyr11" class="lyr">
            {% for key in anti_words %}
              {% for prek, prev in anti_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks11" class="scrollLinks"></div>
      </div>

      <!-- Stanza 4 -->
      <div class="results">

        <div id="wn12" class="wn">
          <div id="lyr12" class="lyr">
            {% for key in clin_words %}
              {% for prek, prev in clin_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks12" class="scrollLinks"></div>

        <div id="wn13" class="wn">
          <div id="lyr13" class="lyr">
            {% for key in sys_words %}
              {% for prek, prev in sys_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks13" class="scrollLinks"></div>

        <div id="wn14" class="wn">
          <div id="lyr14" class="lyr">
            {% for key in anti_words %}
              {% for prek, prev in anti_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks14" class="scrollLinks"></div>
      </div>
    {% else %}
      Clinamen - Sorry, no pataphysicalised reverberations found!
    {% endif %}
  </div>

  <!-- ALGORITHMS -->
  <div class="resultset">
    {% if clin_words %}
      Clinamen - {{ clin_sens|length }} pataphysicalised {% if clin_sens|length == 1 %}reverberation{% else %}reverberations{% endif %} found in {{ clin_files|length }} {% if clin_files|length == 1 %}origin{% else %}origins{% endif %}.
      <div class="results">
        <div id="wn2" class="wn">
          <div id="lyr2" class="lyr">
            {% for key in clin_words %}
              {% for prek, prev in clin_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks2" class="scrollLinks"></div>
      </div>
    {% else %}
        Clinamen - Sorry, no pataphysicalised reverberations found!
    {% endif %}
    <br>
    {% if sys_words %}
      Syzygy - {{ sys_sens|length }} pataphysicalised {% if sys_sens|length == 1 %}reverberation{% else %}reverberations{% endif %} found in {{ sys_files|length }} {% if sys_files|length == 1 %}origin{% else %}origins{% endif %}.
      <div class="results">
        <div id="wn2" class="wn">
          <div id="lyr2" class="lyr">
            {% for key in sys_words %}
              {% for prek, prev in sys_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks2" class="scrollLinks"></div>
      </div>
    {% else %}
        Syzygy - Sorry, no pataphysicalised reverberations found!
    {% endif %}
    <br>
    {% if anti_words %}
      Antinomy - {{ anti_sens|length }} pataphysicalised {% if anti_sens|length == 1 %}reverberation{% else %}reverberations{% endif %} found in {{ anti_files|length }} {% if anti_files|length == 1 %}origin{% else %}origins{% endif %}.
      <div class="results">
        <ul>
            {% for key in anti_words %}
              {% for prek, prev in anti_sens.iteritems() %}
                {% if prek == key %}
                  {% for p1, p2 in prev %}<span title="{{ p1 }}">{{ p2[0] }} <form class="inform" action="../textresults" method="post"><input class="inlink" type="submit" name="query" value="{{ key }}"></input></form> {{ p2[2] }}</span>{% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div id="scrollLinks3" class="scrollLinks"></div>
      </div>
    {% else %}
        Antinomy - Sorry, no pataphysicalised reverberations found!
    {% endif %}
  </div>

</div>
{% endblock %}
