{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<article class="w3-text-theme">

<div class="w3-container w3-padding">
  <form class="w3-container" action="../textresults" method="post">
    <p class="w3-center">
      <input id="faustroll" class="w3-radio" type="radio" name="corpus" value="faustroll" checked><label class="w3-validate">Faustroll</label>
      <input id="shakespeare" class="w3-radio" type="radio" name="corpus" value="shakespeare"><label class="w3-validate">Shakespeare</label>
    </p>
    <div class="w3-group">
      <input class="w3-input" name="query" autofocus="autofocus" type="text" required><label class="w3-label">Search</label>
      <button type="submit" class="w3-btn w3-theme-l2 fanbtn" onclick="loading();">
        <i class="fa fa-search"></i></button>
    </div>
  </form>
  <hr>
  <nav class="tabs w3-topnav w3-center w3-margin">
    <a class="active" href="#poetry_tab">Poetry</a>
    <a href="#sources_tab">Sources</a>
    <a href="#algo_tab">Algorithms</a>
  </nav>
  <hr>
</div>

<!-- JAVASCRIPT -->
<meta id="icorpus" data-corpus="{{ corpus }}">
<script>
(function(){
  var c = $('#icorpus').data();
  var ch = document.getElementById(c.corpus);
  function checkradio(){
    ch.checked = true;
  }
  checkradio();
})();
</script>

<div class="w3-container w3-padding">
  <span><strong>Searched for:</strong>&nbsp;&nbsp; <form class="inform" action="../textresults" method="post"><input class="w3-hide" type="radio" name="corpus" value="{{ corpus }}" checked><input class="inlink" type="submit" name="query" value="{{ query }}" onclick="loading();"></input></form></span>
  <span title="Results - Reverberations - Origins">&nbsp;&nbsp;= &nbsp;&nbsp;{{ all_tot }} - {{ all_words|length }} - {{ all_files|length }}</span>
</div>

<!-- TABS -->
<div class="w3-container tab_container w3-padding-0">

<!-- all_sens = [(title, (pre, word, post), algorithm), ...] -->

<!-- POETRY -->
<div id="poetry_tab" class="tab_content subtab_container">

  <header class="w3-container w3-theme-l4">
    <h2 title="Number of possible poems: {{ all_poems }}">
      Poetry * <div class="w3-text-light-grey" style="display:inline;">{{ corpus }}</div></h2>
  </header>
  <div class="w3-container">
    <p>
      Displayed either in <a href="http://www.growndodo.com/wordplay/oulipo/10%5e14sonnets.html" title="Inspired by Raymond Queneau's Cent Mille Milliards de poèmes" target="_blank">
      Raymond Queneau</a> style or randomised. Hover for source and algorithm.
    </p>
    <div class="w3-hide" id="alert">blank</div>
    <hr>
    <nav class="subtabs w3-topnav w3-center w3-margin">
      <a class="active" href="#q_tab">Queneau</a>
      <a href="#r_tab">Random</a>
    </nav>
    <hr>
    <ul class="w3-hide">
      <li>Clicks1: <a id="clicks1">1</a></li>
      <li>Clicks2: <a id="clicks2">1</a></li>
      <li>Clicks3: <a id="clicks3">1</a></li>
      <li>Clicks4: <a id="clicks4">1</a></li>
      <li>Clicks5: <a id="clicks5">1</a></li>
      <li>Clicks6: <a id="clicks6">1</a></li>
      <li>Clicks7: <a id="clicks7">1</a></li>
      <li>Clicks8: <a id="clicks8">1</a></li>
      <li>Clicks9: <a id="clicks9">1</a></li>
      <li>Clicks10: <a id="clicks10">1</a></li>
      <li>Clicks11: <a id="clicks11">1</a></li>
      <li>Clicks12: <a id="clicks12">1</a></li>
      <li>Clicks13: <a id="clicks13">1</a></li>
      <li>Clicks14: <a id="clicks14">1</a></li>
    </ul>
    <div class="w3-hide" id="partsize">{{ part }}</div>
    <div class="w3-hide" id="querydiv">{{ query }}</div>
    <div class="w3-hide" id="corpusdiv">{{ corpus }}</div>
    <div class="w3-hide" id="clickcount">0</div>
    <div class="w3-hide" id="lollength">{{ lol|length }}</div>
  </div>

  <div class="subtab_content" id="q_tab">
    <p class="w3-center">
      <a class="emailbutton w3-btn w3-blue-grey" href="#" onclick="return getContent(this)">
        Email this poem!
      </a>
    </p>
    <div class="poetry w3-container w3-theme-l5">
      {% if (lol|length) != 0 %}
        {% for n in range(1, lol|length + 1) %}
          {% set wid = ['wn', n|string]|join %}
          {% set lid = ['lyr', n|string]|join %}
          {% set sid = ['scrollLinks', n|string]|join %}
          {% set aid = lol[n-1] %}
          <div id="poems">
            <div id="{{wid}}" class="wn">
              <div id="{{lid}}" class="lyr">
                {% for sens in aid %}<span title="{{ sens[0] }}, {{ sens[2] }}">{{ sens[1][0] }} <form class="inform" action="../textresults" method="post"><input class="w3-hide" type="radio" name="corpus" value="{{ corpus }}" checked><input class="inlink" type="submit" name="query" value="{{ sens[1][1] }}" onclick="loading();"></input></form> {{ sens[1][2] }}</span>{% endfor %}
              </div>
            </div>
            <div id="{{sid}}" class="scrollLinks"></div>
          </div>
        {% endfor %}
      {% else %}
        <div class="w3-center">Not enough results found.</div>
      {% endif %}
    </div>
  </div>

  <div class="subtab_content" id="r_tab">
    <p class="w3-center">
      <a id="shuffle" class="randbutton w3-btn w3-blue-grey" href="#" onclick="return shufflePoem()">
        Randomise poem!
      </a>
      <a href="#" class="emailbutton w3-btn w3-blue-grey" onclick="return getRandContent(this)">
        Email this poem!
      </a>
    </p>
    <div class="w3-container w3-theme-l5">
      <div id="random_poem" class="poetry random_poem w3-center">
        {% if all_sens|length != 0 %}
          {% for n in range(0, 14) %}
            {% set rid = ['subpoem', n|string]|join %}
            {% set rsens = all_sens|random %}
            <div id="{{ rid }}">
              <span title="{{ rsens[0] }}, {{ rsens[2] }}">{{ rsens[1][0] }} <form class="inform" action="../textresults" method="post"><input class="w3-hide" type="radio" name="corpus" value="{{ corpus }}" checked><input class="inlink" type="submit" name="query" value="{{ rsens[1][1] }}" onclick="loading();"></input></form> {{ rsens[1][2] }}</span><br>
            </div>
          {% endfor %}
        {% else %}
          No results found.
        {% endif %}
      </div>
    </div>
  </div>

</div><!-- end tab poems -->

<!-- all_sens = [(title, (pre, word, post), algorithm), ...] -->

<!-- SOURCES -->
<div id="sources_tab" class="tab_content">
  <header class="w3-container w3-theme-l4">
      <h2>Sources <div class="w3-text-light-grey" style="display:inline;">{{ corpus }}</div></h2>
  </header>
  <div class="w3-container">
    <p>
      Sorted by source. Hover for algorithm.
    </p>
  </div>

  <div class="w3-container w3-theme-l5 w3-padding">
    {% for file in all_files %}
      <div class="w3-padding-top w3-padding-bottom">
        <strong>{{ file }}</strong> <a href="#"><i class="fa fa-chevron-up"></i></a>
      </div>
      <ul class="w3-ul w3-padding">
        {% for sens in all_sens %}
          {% if file == sens[0] %}
            <li title="{{ sens[2] }}">...{{ sens[1][0] }} <form class="inform" action="../textresults" method="post"><input class="w3-hide" type="radio" name="corpus" value="{{ corpus }}" checked><input class="inlink" type="submit" name="query" value="{{ sens[1][1] }}" onclick="loading();"></input></form> {{ sens[1][2] }}...</li>
          {% endif %}
        {% endfor %}
      </ul>
      <br>
    {% endfor %}
  </div>
</div><!-- end tab sources -->

      <!-- all_sens = [(title, (pre, word, post), algorithm), ...] -->

<!-- ALGORITHMS -->
<div id="algo_tab" class="tab_content">

  <header class="w3-container w3-theme-l4">
    <h2>Algorithms <div class="w3-text-light-grey" style="display:inline;">{{ corpus }}</div></h2>
  </header>
  <div class="w3-container w3-padding">
    <p>Sorted by algorithm. Hover for source.</p>
    <hr>
    <nav class="w3-topnav w3-center tabx">
      <a href="#clinamen">Clinamen</a>
      <a href="#syzygy">Syzygy</a>
      <a href="#antinomy">Antinomy</a>
    </nav>
    <hr>
  </div>

  <div class="w3-container w3-theme-l5 w3-padding-top w3-padding-bottom">
    {% for algo in ['Clinamen', 'Syzygy', 'Antinomy'] %}
      {% if algo == 'Clinamen' %}
        <div id="clinamen" class="w3-padding-top w3-padding-bottom">
          {% if clin_sens|length > 0 %}
          <strong>
            Clinamen - {{ clin_sens|length }} results for {{ clin_words|length }} pataphysicalised {% if clin_words|length == 1 %}reverberation{% else %}reverberations{% endif %} found in {{ clin_files|length }} {% if clin_files|length == 1 %}origin{% else %}origins{% endif %}. <a href="#"><i class="fa fa-chevron-up"></i></a>
          </strong>
          {% else %}
          <strong>
            Clinamen - Sorry, no pataphysicalised reverberations found!
            <a href="#"><i class="fa fa-chevron-up"></i></a>
          </strong>
          {% endif %}
        </div>
      {% endif %}
      {% if algo == 'Syzygy' %}
        <div id="syzygy" class="w3-padding-top w3-padding-bottom">
          {% if sys_sens|length > 0 %}
          <strong>
            Syzygy - {{ sys_sens|length }} results for {{ sys_words|length }} pataphysicalised {% if sys_words|length == 1 %}reverberation{% else %}reverberations{% endif %} found in {{ sys_files|length }} {% if sys_files|length == 1 %}origin{% else %}origins{% endif %}. <a href="#"><i class="fa fa-chevron-up"></i></a>
          </strong>
          {% else %}
          <strong>
            Syzygy - Sorry, no pataphysicalised reverberations found!
            <a href="#"><i class="fa fa-chevron-up"></i></a>
          </strong>
          {% endif %}
        </div>
      {% endif %}
      {% if algo == 'Antinomy' %}
        <div id="antinomy" class="w3-padding-top w3-padding-bottom">
          {% if anti_sens|length > 0 %}
          <strong>
            Antinomy - {{ anti_sens|length }} results for {{ anti_words|length }} pataphysicalised {% if anti_words|length == 1 %}reverberation{% else %}reverberations{% endif %} found in {{ anti_files|length }} {% if anti_files|length == 1 %}origin{% else %}origins{% endif %}. <a href="#"><i class="fa fa-chevron-up"></i></a>
          </strong>
          {% else %}
          <strong>
            Antinomy - Sorry, no pataphysicalised reverberations found!
            <a href="#"><i class="fa fa-chevron-up"></i></a>
          </strong>
          {% endif %}
        </div>
      {% endif %}
      <ul class="w3-ul w3-padding">
        {% for sens in all_sens %}
          {% if sens[2] == algo %}
            <li title="{{ sens[0] }}">...{{ sens[1][0] }} <form class="inform" action="../textresults" method="post"><input class="w3-hide" type="radio" name="corpus" value="{{ corpus }}" checked><input class="inlink" type="submit" name="query" value="{{ sens[1][1] }}" onclick="loading();"></input></form> {{ sens[1][2] }}...</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div><!-- end tab algorithms -->

  </div><!-- end tab_container -->

<!-- </div> -->
<!-- end main container -->

</article>

<script>
  var cnt = 0; // counter
  function shufflePoem() {
    cnt += 1;
    var sentences = {{ all_sens|tojson }}; // jinja
    // [[file, [s1,s2,s3], algo],...]
    var n = {{ all_sens|length }}; // jinja
    var corp = '{{ corpus }}'; // jinja
    var rlist = [];
    for (var i = 0; i < 14; i++) {
      var r = Math.floor(Math.random() * n);
      var t = sentences[r][0]; // title
      var al = sentences[r][2]; // algorithm
      var b = sentences[r][1][0]; // before
      var m = sentences[r][1][1]; // middle / keyword
      var a = sentences[r][1][2]; // after
      var str1 = "<span title='" + t +', '+ al;
      var str2 = "'>" + b + " <form class='inform' action='../textresults' method='post'><input class='w3-hide' type='radio' name='corpus' value='"
      var str2B = "' checked><input class='inlink' type='submit' name='query' value='";
      var str3 = m + "' onclick='loading();'></input></form> " + a;
      var str4 = "</span>";
      var fullsent = str1 + str2 + corp + str2B + str3 + str4;
      rlist[i] = fullsent;
    }
    rlist[3] = rlist[3].concat('<br>');
    rlist[7] = rlist[7].concat('<br>');
    rlist[10] = rlist[10].concat('<br>');
    var output = rlist.join('<br>');
    document.getElementById('clickcount').innerHTML = cnt;
    document.getElementById('random_poem').innerHTML = output;
    return false;
  }

  var corpus = "{{ corpus }}";
  document.getElementById(corpus).checked = true;
</script>

{% endblock %}
