{% extends "base.html" %}

{% block content %}

<header>
    <h2><i class="fa fa-video-camera"></i> ...And what does this have to do with <strong>Video</strong> Search?</h2>
</header>
<p>
    Video search works in the same way that image search does and results are also presented in spiral form. it uses bing video and youtube apis.
</p>

<div class="search_form">
    <form action="../videoresults" method="post">
        <input class="search_area" name="query" autofocus="autofocus" size="50"></input>
        <input class="search_button" type="submit" value="Search"> <i class="fa fa-search"></i></input>
    </form>
</div>

<h3><i class="fa fa-info-circle"></i> How to use</h3>
<p>Video search supports searching with multiple keywords.</p>

<h4>Search suggestions:</h4>
    '<form class="inform" action="../videoresults" method="post"><input class="inlink" type="submit" name="query" value="clear"></input></form>'
    '<form class="inform" action="../videoresults" method="post"><input class="inlink" type="submit" name="query" value="troll"></input></form>'
    '<form class="inform" action="../videoresults" method="post"><input class="inlink" type="submit" name="query" value="large"></input></form>'
    '<form class="inform" action="../videoresults" method="post"><input class="inlink" type="submit" name="query" value="live"></input></form>'
    '<form class="inform" action="../videoresults" method="post"><input class="inlink" type="submit" name="query" value="solid"></input></form>'
    '<form class="inform" action="../videoresults" method="post"><input class="inlink" type="submit" name="query" value="books"></input></form>'

{% endblock %}

<!-- <div class="spouter">
    <div class="spleft">
        <div class="spltop">
            <div class="spltleft">
                <img src="{{ url_for('static', filename='images/pic04.jpg') }}" height="210" width="210"/>
            </div>
            <div class="spltright">
                <div class="spltrtop">
                    <img src="{{ url_for('static', filename='images/pic01.jpg') }}" height="130" width="130"/>
                </div>
                <div class="spltrbottom">
                    <div class="spltrbleft">
                        <div class="spltrbltop">
                            <div class="spltrbltleft">
                                <img src="{{ url_for('static', filename='images/pic01.jpg') }}" height="30" width="30"/>
                            </div>
                            <div class="spltrbltright">
                                <div class="spltrbltrtop">
                                    <img src="{{ url_for('static', filename='images/pic02.jpg') }}" height="20" width="20"/>
                                </div>
                                <div class="spltrbltrbottom">
                                    <div class="spltrbltrbleft"><img src="{{ url_for('static', filename='images/pic06.jpg') }}" height="10" width="10"/>
                                    </div>
                                    <div class="spltrbltrbright"><img src="{{ url_for('static', filename='images/pic07.jpg') }}" height="10" width="10"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spltrblbottom">
                            <img src="{{ url_for('static', filename='images/pic08.jpg') }}" height="50" width="50"/>
                        </div>
                    </div>
                    <div class="spltrbright">
                        <img src="{{ url_for('static', filename='images/pic03.jpg') }}" height="80" width="80"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="splbottom">
            <img src="{{ url_for('static', filename='images/pic02.jpg') }}" height="340" width="340"/>
        </div>
    </div>
    <div class="spright">
        <img src="{{ url_for('static', filename='images/pic05.jpg') }}" height="550" width="550"/>
    </div>
</div> -->

<!-- <table>
    <tr>
        <td rowspan="4" colspan="1"><img  src="{{ url_for('static', filename='images/pic04.jpg') }}" title="" height="210" width="210"/></td>
        <td rowspan="1" colspan="4"><img  src="{{ url_for('static', filename='images/pic01.jpg') }}" title="" height="130" width="130"/></td>
        <td rowspan="5" colspan="1"><img  src="{{ url_for('static', filename='images/pic05.jpg') }}" title="" height="550" width="550"/></td>
    </tr>
    <tr>
        <td rowspan="2" colspan="1"><img  src="{{ url_for('static', filename='images/pic01.jpg') }}" title="" height="30" width="30"/></td>
        <td rowspan="1" colspan="2"><img  src="{{ url_for('static', filename='images/pic02.jpg') }}" title="" height="20" width="20"/></td>
        <td rowspan="3" colspan="1"><img  src="{{ url_for('static', filename='images/pic03.jpg') }}" title="" height="80" width="80"/></td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1"><img  src="{{ url_for('static', filename='images/pic06.jpg') }}" title="" height="10" width="10"/></td>
        <td rowspan="1" colspan="1"><img  src="{{ url_for('static', filename='images/pic07.jpg') }}" title="" height="10" width="10"/></td>
    </tr>
    <tr>
        <td rowspan="1" colspan="3"><img  src="{{ url_for('static', filename='images/pic08.jpg') }}" title="" height="50" width="50"/></td>
    </tr>
    <tr>
        <td rowspan="1" colspan="5"><img  src="{{ url_for('static', filename='images/pic02.jpg') }}" title="" height="340" width="340"/></td>
    </tr>    
</table> -->
