{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<main>

  <h2><i class="fa fa-video-camera"></i> <strong>Video</strong> S<span class="mirror">e</span>arch</h2>

  <p>Video search works in the same way that image search does.. It uses the Youtube API.</p>

  <!-- MAIN SEARCH -->
  <form class="mainsearch" action="../videoresults" method="post">
    <fieldset>
      <input id="youtube" type="radio" name="vid_choice" value="youtube" checked><label for="youtube">Youtube</label>
    </fieldset>
    <fieldset>
      <input name="query" type="text" placeholder=" Search" autofocus required>
      <button type="submit" class="button"><i class="fa fa-search"></i></button>
    </fieldset>
  </form>

  <h3>How to use</h3>

  <div class="indent">
    <p>Video search supports multiple keywords.</p>
    <p>The video search can sometimes take a long time to produce a result (or none at all).</p>

    <h4>Search suggestions:</h4>
      <form class="inlineform" action="../videoresults" method="post"><input type="submit" name="query" value="clear consciousness"></form>,
      <form class="inlineform" action="../videoresults" method="post"><input type="submit" name="query" value="internet troll"></form>,
      <form class="inlineform" action="../videoresults" method="post"><input type="submit" name="query" value="large"></form>,
      <form class="inlineform" action="../videoresults" method="post"><input type="submit" name="query" value="living large"></form>,
      <form class="inlineform" action="../videoresults" method="post"><input type="submit" name="query" value="solid foundations"></form>,
      <form class="inlineform" action="../videoresults" method="post"><input type="submit" name="query" value="off the books"></form>
  </div>

</main>

{% endblock %}
